Author: Dana Chermesh, Regional Planning intern; NYC DCP<br>
Summer 2018

### _US Metros comparison  Notebook no.4_
# Employment - total industries
For employment by Industry and owenership please see notebook **4.0-BLS-QCEW_byIndustry.ipynb** in this repo.
### Data were obtained from: BLS-QCEW
Data Source: [Bureau of Labor Statistics, Quarterly Census of Employment and Wages](https://www.bls.gov/cew/datatoc.htm) (BLS-QCEW)

---- 
# 0 - Imports

In [1]:
import requests
import pandas as pd
import numpy as np

from __future__ import print_function, division
import matplotlib.pylab as pl
import seaborn as sns
sns.set_style('whitegrid')
# import json

# Spatial
import geopandas as gpd
import fiona
import shapely

import statsmodels.formula.api as smf
import statsmodels.api as sm

%pylab inline

Populating the interactive namespace from numpy and matplotlib

# 1 - Data acquisition

## Download directly from the BLS-QCEW website

The following code was downloaded from the [BLS-QCEW website](https://data.bls.gov/cew/doc/access/data_access_examples.htm#PYTHON), sapmle code for Python 3 ([Download](https://data.bls.gov/cew/doc/access/qcew_python_3x_example.zip))

In [2]:
import urllib.request
import urllib

# *******************************************************************************
# qcewCreateDataRows : This function takes a raw csv string and splits it into
# a two-dimensional array containing the data and the header row of the csv file
# a try/except block is used to handle for both binary and char encoding
def qcewCreateDataRows(csv):
    dataRows = []
    try: dataLines = csv.decode().split('\r\n')
    except er: dataLines = csv.split('\r\n');
    for row in dataLines:
        dataRows.append(row.split(','))
    return dataRows
# *******************************************************************************


# *******************************************************************************
# qcewGetAreaData : This function takes a year, quarter, and area argument and
# returns an array containing the associated area data. Use 'a' for annual
# averages. 
# For all area codes and titles see:
# http://www.bls.gov/cew/doc/titles/area/area_titles.htm
#
def qcewGetAreaData(year,qtr,area):
    urlPath = "http://data.bls.gov/cew/data/api/[YEAR]/[QTR]/area/[AREA].csv"
    urlPath = urlPath.replace("[YEAR]",year)
    urlPath = urlPath.replace("[QTR]",qtr.lower())
    urlPath = urlPath.replace("[AREA]",area.upper())
    httpStream = urllib.request.urlopen(urlPath)
    csv = httpStream.read()
    httpStream.close()
    return qcewCreateDataRows(csv)
# *******************************************************************************


# *******************************************************************************
# qcewGetIndustryData : This function takes a year, quarter, and industry code
# and returns an array containing the associated industry data. Use 'a' for 
# annual averages. Some industry codes contain hyphens. The CSV files use
# underscores instead of hyphens. So 31-33 becomes 31_33. 
# For all industry codes and titles see:
# http://www.bls.gov/cew/doc/titles/industry/industry_titles.htm
#
def qcewGetIndustryData(year,qtr,industry):
    urlPath = "http://data.bls.gov/cew/data/api/[YEAR]/[QTR]/industry/[IND].csv"
    urlPath = urlPath.replace("[YEAR]",year)
    urlPath = urlPath.replace("[QTR]",qtr.lower())
    urlPath = urlPath.replace("[IND]",industry)
    httpStream = urllib.request.urlopen(urlPath)
    csv = httpStream.read()
    httpStream.close()
    return qcewCreateDataRows(csv)
# *******************************************************************************


# *******************************************************************************
# qcewGetSizeData : This function takes a year and establishment size class code
# and returns an array containing the associated size data. Size data
# is only available for the first quarter of each year.
# For all establishment size classes and titles see:
# http://www.bls.gov/cew/doc/titles/size/size_titles.htm
#
def qcewGetSizeData(year,size):
    urlPath = "http://data.bls.gov/cew/data/api/[YEAR]/1/size/[SIZE].csv"
    urlPath = urlPath.replace("[YEAR]",year)
    urlPath = urlPath.replace("[SIZE]",size)
    httpStream = urllib.request.urlopen(urlPath)
    csv = httpStream.read()
    httpStream.close()
    return qcewCreateDataRows(csv)
# *******************************************************************************

# examples >> (hashed)

# Michigan_Data = qcewGetAreaData("2015","1","26000")
# Auto_Manufacturing = qcewGetIndustryData("2015","1","3361")
# SizeData = qcewGetSizeData("2015","6")

# # prints the industry_code in row 5.
# # remember row zero contains field names
# print(Michigan_Data[5][2])


# # prints the area_fips in row 1.
# # remember row zero contains field names
# print(Auto_Manufacturing[1][0])


# # prints the own_code in row 1.
# # remember row zero contains field names
# print(SizeData[1][1])

##  Reading in geo-coded dataset
created on a different notebook, please refer to [notebook no.0: 0-US_Metro_Comparison_Geographies.ipynb](https://github.com/NYCPlanning/rp-USmetros_comparison/blob/master/0-US_Metro_Comparison_Geographies.ipynb)

In [3]:
geo = pd.read_csv('../rp-USmetros_comparison/data/USmetros_full_correct.csv')\
                                                .drop(['Unnamed: 0'], axis=1)
geo['STCO'] = geo['STCO'].apply(lambda x: '{0:0>5}'.format(x))

print(geo.shape)
geo.head()

(274, 4)

   CSA                            CSA_name     County_name   STCO
0  348          Los Angeles-Long Beach, CA       Riverside  06065
1  348          Los Angeles-Long Beach, CA  San Bernardino  06071
2  348          Los Angeles-Long Beach, CA         Ventura  06111
3  176        Chicago-Naperville, IL-IN-WI            Cook  17031
4  488  San Jose-San Francisco-Oakland, CA         Alameda  06001

In [4]:
geo.dtypes

CSA             int64
CSA_name       object
County_name    object
STCO           object
dtype: object

In [5]:
STCO = list(geo['STCO'])

print(type(STCO))
print(len(STCO))
STCO[:10]

<class 'list'>
274

['06065',
 '06071',
 '06111',
 '17031',
 '06001',
 '06013',
 '06041',
 '06055',
 '06069',
 '06075']

## Getting the 'annual_avg_emplvl' for all industries for every county in the major US metros of this analysis 
using the `qcewGetAreaData()` function built by the BLS QCEW

In [6]:
JobsCO17 = []

for i in STCO:
    county = qcewGetAreaData("2017","A", i)
    county = pd.DataFrame(county)
    county.columns = county.iloc[0]
    county = county[1:]
    county.columns = [i.replace('"', '') for i in county.columns]
    county = county.replace({'"':''}, regex=True)
    
    county = county[['area_fips','annual_avg_emplvl']][:1]
    
    JobsCO17.append(county)

JobsCO17 = pd.concat(JobsCO17)
JobsCO17.columns = ['STCO', 'Total_emp17']
JobsCO17 = JobsCO17.set_index('STCO')

print(JobsCO17.shape)
JobsCO17.head()

(274, 1)

      Total_emp17
STCO
06065      713182
06071      730004
06111      322344
17031     2572191
06001      771652

In [7]:
JobsCO17.to_csv('JobsCO17_NEW.csv')

# 2000 / 2008 / 2010
### _** Open data of the BLS QCEW is available from 2013 only; thus data for 2010, 2008 and 2000 were downloaded directly to the local machine**_

Download from https://www.bls.gov/cew/datatoc.htm the .zip files for the selected year under _**CSVs By Area**_ and unzip to your local folder, then run the following code to read in only _**selected counties, 'annual avg emplvl'**_, using python's _streaming_ method.

## 2000

In [8]:
# check where your notebook is at, 
# in order to pass the right path in the next cell
!pwd

/Users/danachermesh/Desktop/rp-USmetros_comparison

In [9]:
# creating a list of all file names in the unzipped folder

import os

mypath = '/Users/danachermesh/Desktop/rp-USmetros_comparison/data/2000.annual.by_area/'# change to your path
filesList = os.listdir(mypath)

filesList

['2000.annual 37103 Jones County, North Carolina.csv',
 '2000.annual 45079 Richland County, South Carolina.csv',
 '2000.annual 17049 Effingham County, Illinois.csv',
 '2000.annual 20151 Pratt County, Kansas.csv',
 '2000.annual C3534 New Iberia, LA MicroSA.csv',
 '2000.annual 48261 Kenedy County, Texas.csv',
 '2000.annual C1574 Cambridge, OH MicroSA.csv',
 '2000.annual 02130 Ketchikan Gateway Borough, Alaska.csv',
 '2000.annual 33001 Belknap County, New Hampshire.csv',
 '2000.annual 47141 Putnam County, Tennessee.csv',
 '2000.annual 08000 Colorado -- Statewide.csv',
 '2000.annual C4618 Tupelo, MS MicroSA.csv',
 '2000.annual 39049 Franklin County, Ohio.csv',
 '2000.annual 20035 Cowley County, Kansas.csv',
 '2000.annual 13287 Turner County, Georgia.csv',
 '2000.annual 13137 Habersham County, Georgia.csv',
 '2000.annual 46081 Lawrence County, South Dakota.csv',
 '2000.annual 48013 Atascosa County, Texas.csv',
 '2000.annual 22043 Grant Parish, Louisiana.csv',
 '2000.annual 48049 Brown County, Texas.csv',
 '2000.annual 30065 Musselshell County, Montana.csv',
 '2000.annual C3654 Omaha-Council Bluffs, NE-IA MSA.csv',
 '2000.annual C1438 Boone, NC MicroSA.csv',
 '2000.annual 48125 Dickens County, Texas.csv',
 '2000.annual 48429 Stephens County, Texas.csv',
 '2000.annual 37045 Cleveland County, North Carolina.csv',
 '2000.annual 38005 Benson County, North Dakota.csv',
 '2000.annual 53057 Skagit County, Washington.csv',
 '2000.annual C4058 Rocky Mount, NC MSA.csv',
 '2000.annual 48181 Grayson County, Texas.csv',
 '2000.annual 46111 Sanborn County, South Dakota.csv',
 '2000.annual 29103 Knox County, Missouri.csv',
 '2000.annual 32510 Carson City, Nevada.csv',
 '2000.annual 40059 Harper County, Oklahoma.csv',
 '2000.annual 18127 Porter County, Indiana.csv',
 '2000.annual 31177 Washington County, Nebraska.csv',
 '2000.annual 18011 Boone County, Indiana.csv',
 '2000.annual 40129 Roger Mills County, Oklahoma.csv',
 '2000.annual 47123 Monroe County, Tennessee.csv',
 '2000.annual C4454 Sterling, CO MicroSA.csv',
 '2000.annual 39133 Portage County, Ohio.csv',
 '2000.annual C3014 Lebanon, PA MSA.csv',
 '2000.annual 48391 Refugio County, Texas.csv',
 '2000.annual 09011 New London County, Connecticut.csv',
 '2000.annual CS320 Lafayette-West Lafayette-Frankfort, IN CSA.csv',
 '2000.annual 48315 Marion County, Texas.csv',
 '2000.annual 19049 Dallas County, Iowa.csv',
 '2000.annual C2902 Kokomo, IN MSA.csv',
 '2000.annual 26043 Dickinson County, Michigan.csv',
 '2000.annual 24029 Kent County, Maryland.csv',
 '2000.annual 22011 Beauregard Parish, Louisiana.csv',
 '2000.annual 16075 Payette County, Idaho.csv',
 '2000.annual 04009 Graham County, Arizona.csv',
 '2000.annual 72137 Toa Baja Municipio, Puerto Rico.csv',
 '2000.annual 42007 Beaver County, Pennsylvania.csv',
 '2000.annual C2682 Idaho Falls, ID MSA.csv',
 '2000.annual C4406 Spokane-Spokane Valley, WA MSA.csv',
 '2000.annual 17145 Perry County, Illinois.csv',
 '2000.annual 45069 Marlboro County, South Carolina.csv',
 '2000.annual C2226 Fergus Falls, MN MicroSA.csv',
 '2000.annual C2794 Juneau, AK MicroSA.csv',
 '2000.annual C3882 Port Angeles, WA MicroSA.csv',
 '2000.annual 48165 Gaines County, Texas.csv',
 '2000.annual 26041 Delta County, Michigan.csv',
 '2000.annual 24015 Cecil County, Maryland.csv',
 '2000.annual 20051 Ellis County, Kansas.csv',
 '2000.annual 37025 Cabarrus County, North Carolina.csv',
 '2000.annual 13249 Schley County, Georgia.csv',
 '2000.annual C3422 Moultrie, GA MicroSA.csv',
 '2000.annual C4402 Spirit Lake, IA MicroSA.csv',
 '2000.annual C2078 Edwards, CO MicroSA.csv',
 '2000.annual 20045 Douglas County, Kansas.csv',
 '2000.annual C1330 Beeville, TX MicroSA.csv',
 '2000.annual 01069 Houston County, Alabama.csv',
 '2000.annual 22009 Avoyelles Parish, Louisiana.csv',
 '2000.annual 26029 Charlevoix County, Michigan.csv',
 '2000.annual 28121 Rankin County, Mississippi.csv',
 '2000.annual 48325 Medina County, Texas.csv',
 '2000.annual 41063 Wallowa County, Oregon.csv',
 '2000.annual CS380 Mobile-Daphne-Fairhope, AL CSA.csv',
 '2000.annual C2026 Duluth, MN-WI MSA.csv',
 '2000.annual C2370 Gallup, NM MicroSA.csv',
 '2000.annual 19027 Carroll County, Iowa.csv',
 '2000.annual 13217 Newton County, Georgia.csv',
 '2000.annual C4046 Rockingham, NC MicroSA.csv',
 '2000.annual 13027 Brooks County, Georgia.csv',
 '2000.annual 47169 Trousdale County, Tennessee.csv',
 '2000.annual 19085 Harrison County, Iowa.csv',
 '2000.annual 17127 Massac County, Illinois.csv',
 '2000.annual 42039 Crawford County, Pennsylvania.csv',
 '2000.annual C3934 Provo-Orem, UT MSA.csv',
 '2000.annual 18071 Jackson County, Indiana.csv',
 '2000.annual 36031 Essex County, New York.csv',
 '2000.annual C2186 Fairmont, MN MicroSA.csv',
 '2000.annual 51009 Amherst County, Virginia.csv',
 '2000.annual 55015 Calumet County, Wisconsin.csv',
 '2000.annual 42073 Lawrence County, Pennsylvania.csv',
 '2000.annual 19149 Plymouth County, Iowa.csv',
 '2000.annual 36023 Cortland County, New York.csv',
 '2000.annual 51061 Fauquier County, Virginia.csv',
 '2000.annual C4610 Tullahoma-Manchester, TN MicroSA.csv',
 '2000.annual 49045 Tooele County, Utah.csv',
 '2000.annual 37067 Forsyth County, North Carolina.csv',
 '2000.annual 40027 Cleveland County, Oklahoma.csv',
 '2000.annual 47029 Cocke County, Tennessee.csv',
 '2000.annual 13139 Hall County, Georgia.csv',
 '2000.annual 04005 Coconino County, Arizona.csv',
 '2000.annual 37135 Orange County, North Carolina.csv',
 '2000.annual 48275 Knox County, Texas.csv',
 '2000.annual 31107 Knox County, Nebraska.csv',
 '2000.annual 72081 Lares Municipio, Puerto Rico.csv',
 '2000.annual 38025 Dunn County, North Dakota.csv',
 '2000.annual 13177 Lee County, Georgia.csv',
 '2000.annual CS384 Monroe-Ruston-Bastrop, LA CSA.csv',
 '2000.annual 34017 Hudson County, New Jersey.csv',
 '2000.annual 28117 Prentiss County, Mississippi.csv',
 '2000.annual C1294 Baton Rouge, LA MSA.csv',
 '2000.annual C1282 Bastrop, LA MicroSA.csv',
 '2000.annual 54103 Wetzel County, West Virginia.csv',
 '2000.annual CS350 Louisville-Jefferson County--Elizabethtown--Madison, KY-IN CSA.csv',
 '2000.annual 48445 Terry County, Texas.csv',
 '2000.annual 25000 Massachusetts -- Statewide.csv',
 '2000.annual 72015 Arroyo Municipio, Puerto Rico.csv',
 '2000.annual 05091 Miller County, Arkansas.csv',
 '2000.annual C1862 Corsicana, TX MicroSA.csv',
 '2000.annual 19107 Keokuk County, Iowa.csv',
 '2000.annual 27000 Minnesota -- Statewide.csv',
 '2000.annual 26163 Wayne County, Michigan.csv',
 '2000.annual 49023 Juab County, Utah.csv',
 '2000.annual 20081 Haskell County, Kansas.csv',
 '2000.annual 20109 Logan County, Kansas.csv',
 '2000.annual 08059 Jefferson County, Colorado.csv',
 '2000.annual 21237 Wolfe County, Kentucky.csv',
 '2000.annual 45081 Saluda County, South Carolina.csv',
 '2000.annual 08125 Yuma County, Colorado.csv',
 '2000.annual 40017 Canadian County, Oklahoma.csv',
 '2000.annual 28129 Smith County, Mississippi.csv',
 '2000.annual C1162 Ardmore, OK MicroSA.csv',
 '2000.annual 40077 Latimer County, Oklahoma.csv',
 '2000.annual 29127 Marion County, Missouri.csv',
 '2000.annual 13179 Liberty County, Georgia.csv',
 '2000.annual 19051 Davis County, Iowa.csv',
 '2000.annual 31071 Garfield County, Nebraska.csv',
 '2000.annual 24047 Worcester County, Maryland.csv',
 '2000.annual 18133 Putnam County, Indiana.csv',
 '2000.annual 18075 Jay County, Indiana.csv',
 '2000.annual 13257 Stephens County, Georgia.csv',
 '2000.annual CS248 Findlay-Tiffin, OH CSA.csv',
 '2000.annual 36017 Chenango County, New York.csv',
 '2000.annual 33019 Sullivan County, New Hampshire.csv',
 '2000.annual 35041 Roosevelt County, New Mexico.csv',
 '2000.annual CS304 Johnson City-Kingsport-Bristol, TN-VA CSA.csv',
 '2000.annual C3426 Mountain Home, AR MicroSA.csv',
 '2000.annual 55055 Jefferson County, Wisconsin.csv',
 '2000.annual 23031 York County, Maine.csv',
 '2000.annual 31083 Harlan County, Nebraska.csv',
 '2000.annual C3486 Nacogdoches, TX MicroSA.csv',
 '2000.annual 27089 Marshall County, Minnesota.csv',
 '2000.annual C3662 Ontario, OR-ID MicroSA.csv',
 '2000.annual 15001 Hawaii County, Hawaii.csv',
 '2000.annual 22001 Acadia Parish, Louisiana.csv',
 '2000.annual 31119 Madison County, Nebraska.csv',
 '2000.annual CS472 Sacramento-Roseville, CA CSA.csv',
 '2000.annual 27009 Benton County, Minnesota.csv',
 '2000.annual 47027 Clay County, Tennessee.csv',
 '2000.annual C2534 Harriman, TN MicroSA.csv',
 '2000.annual 17119 Madison County, Illinois.csv',
 '2000.annual 06003 Alpine County, California.csv',
 '2000.annual C1246 Bainbridge, GA MicroSA.csv',
 '2000.annual 28153 Wayne County, Mississippi.csv',
 '2000.annual 48319 Mason County, Texas.csv',
 '2000.annual 78000 Virgin Islands -- Statewide.csv',
 '2000.annual 13319 Wilkinson County, Georgia.csv',
 '2000.annual 72117 Rincon Municipio, Puerto Rico.csv',
 '2000.annual 13013 Barrow County, Georgia.csv',
 '2000.annual C4518 Talladega-Sylacauga, AL MicroSA.csv',
 '2000.annual 24031 Montgomery County, Maryland.csv',
 '2000.annual C4478 Sturgis, MI MicroSA.csv',
 '2000.annual 01037 Coosa County, Alabama.csv',
 '2000.annual C1618 Carson City, NV MSA.csv',
 '2000.annual 46117 Stanley County, South Dakota.csv',
 '2000.annual C2030 Dumas, TX MicroSA.csv',
 '2000.annual 16079 Shoshone County, Idaho.csv',
 '2000.annual 48005 Angelina County, Texas.csv',
 '2000.annual 29141 Morgan County, Missouri.csv',
 '2000.annual 08029 Delta County, Colorado.csv',
 '2000.annual 05095 Monroe County, Arkansas.csv',
 '2000.annual 23013 Knox County, Maine.csv',
 '2000.annual 13049 Charlton County, Georgia.csv',
 '2000.annual 04012 La Paz County, Arizona.csv',
 '2000.annual 51105 Lee County, Virginia.csv',
 '2000.annual C1258 Baltimore-Columbia-Towson, MD MSA.csv',
 '2000.annual 47095 Lake County, Tennessee.csv',
 '2000.annual 41053 Polk County, Oregon.csv',
 '2000.annual C2574 Helena, MT MicroSA.csv',
 '2000.annual 55125 Vilas County, Wisconsin.csv',
 '2000.annual 20195 Trego County, Kansas.csv',
 '2000.annual 72153 Yauco Municipio, Puerto Rico.csv',
 '2000.annual C2870 Kingsport-Bristol-Bristol, TN-VA MSA.csv',
 '2000.annual C2330 Freeport, IL MicroSA.csv',
 '2000.annual 06005 Amador County, California.csv',
 '2000.annual C2810 Kankakee, IL MSA.csv',
 '2000.annual 40151 Woods County, Oklahoma.csv',
 '2000.annual 39025 Clermont County, Ohio.csv',
 '2000.annual C1146 Ann Arbor, MI MSA.csv',
 '2000.annual 13251 Screven County, Georgia.csv',
 '2000.annual 28007 Attala County, Mississippi.csv',
 '2000.annual 46035 Davison County, South Dakota.csv',
 '2000.annual 54079 Putnam County, West Virginia.csv',
 '2000.annual 21005 Anderson County, Kentucky.csv',
 '2000.annual 35003 Catron County, New Mexico.csv',
 '2000.annual 34019 Hunterdon County, New Jersey.csv',
 '2000.annual C3034 Lewiston-Auburn, ME MSA.csv',
 '2000.annual C4638 Ukiah, CA MicroSA.csv',
 '2000.annual 48221 Hood County, Texas.csv',
 '2000.annual 01013 Butler County, Alabama.csv',
 '2000.annual 19177 Van Buren County, Iowa.csv',
 '2000.annual 47177 Warren County, Tennessee.csv',
 '2000.annual C3582 North Platte, NE MicroSA.csv',
 '2000.annual 20037 Crawford County, Kansas.csv',
 '2000.annual 13101 Echols County, Georgia.csv',
 '2000.annual 47125 Montgomery County, Tennessee.csv',
 '2000.annual 37185 Warren County, North Carolina.csv',
 '2000.annual C1038 Aguadilla-Isabela, PR MSA.csv',
 '2000.annual 39035 Cuyahoga County, Ohio.csv',
 '2000.annual 26145 Saginaw County, Michigan.csv',
 '2000.annual 16071 Oneida County, Idaho.csv',
 '2000.annual 17159 Richland County, Illinois.csv',
 '2000.annual 31185 York County, Nebraska.csv',
 '2000.annual C1198 Athens, TX MicroSA.csv',
 '2000.annual 19021 Buena Vista County, Iowa.csv',
 '2000.annual C2062 East Liverpool-Salem, OH MicroSA.csv',
 '2000.annual 13045 Carroll County, Georgia.csv',
 '2000.annual 54039 Kanawha County, West Virginia.csv',
 '2000.annual 31039 Cuming County, Nebraska.csv',
 '2000.annual C1266 Baraboo, WI MicroSA.csv',
 '2000.annual 51071 Giles County, Virginia.csv',
 '2000.annual 26157 Tuscola County, Michigan.csv',
 '2000.annual CS290 Huntsville-Decatur-Albertville, AL CSA.csv',
 '2000.annual 13285 Troup County, Georgia.csv',
 '2000.annual 39155 Trumbull County, Ohio.csv',
 '2000.annual 01099 Monroe County, Alabama.csv',
 '2000.annual 29063 DeKalb County, Missouri.csv',
 '2000.annual C1750 Clewiston, FL MicroSA.csv',
 '2000.annual C2698 Iowa City, IA MSA.csv',
 '2000.annual 37075 Graham County, North Carolina.csv',
 '2000.annual 39075 Holmes County, Ohio.csv',
 '2000.annual C4008 Richmond-Berea, KY MicroSA.csv',
 '2000.annual 12099 Palm Beach County, Florida.csv',
 '2000.annual 17065 Hamilton County, Illinois.csv',
 '2000.annual 17163 St. Clair County, Illinois.csv',
 '2000.annual 51550 Chesapeake City, Virginia.csv',
 '2000.annual 40071 Kay County, Oklahoma.csv',
 '2000.annual 13095 Dougherty County, Georgia.csv',
 '2000.annual 24011 Caroline County, Maryland.csv',
 '2000.annual C4070 Roseburg, OR MicroSA.csv',
 '2000.annual 47103 Lincoln County, Tennessee.csv',
 '2000.annual 44001 Bristol County, Rhode Island.csv',
 '2000.annual C1830 Coos Bay, OR MicroSA.csv',
 '2000.annual 08055 Huerfano County, Colorado.csv',
 '2000.annual 28105 Oktibbeha County, Mississippi.csv',
 '2000.annual C1098 Alpena, MI MicroSA.csv',
 '2000.annual 40021 Cherokee County, Oklahoma.csv',
 '2000.annual 08077 Mesa County, Colorado.csv',
 '2000.annual 42109 Snyder County, Pennsylvania.csv',
 '2000.annual 18027 Daviess County, Indiana.csv',
 '2000.annual 31069 Garden County, Nebraska.csv',
 '2000.annual 34011 Cumberland County, New Jersey.csv',
 '2000.annual 37079 Greene County, North Carolina.csv',
 '2000.annual C1326 Bedford, IN MicroSA.csv',
 '2000.annual 51169 Scott County, Virginia.csv',
 '2000.annual 39151 Stark County, Ohio.csv',
 '2000.annual C4794 Waterloo-Cedar Falls, IA MSA.csv',
 '2000.annual 37039 Cherokee County, North Carolina.csv',
 '2000.annual 38029 Emmons County, North Dakota.csv',
 '2000.annual 48331 Milam County, Texas.csv',
 '2000.annual 31125 Nance County, Nebraska.csv',
 '2000.annual 40011 Blaine County, Oklahoma.csv',
 '2000.annual 05001 Arkansas County, Arkansas.csv',
 '2000.annual C4698 Vicksburg, MS MicroSA.csv',
 '2000.annual 28049 Hinds County, Mississippi.csv',
 '2000.annual 01123 Tallapoosa County, Alabama.csv',
 '2000.annual 47163 Sullivan County, Tennessee.csv',
 '2000.annual CS274 Greenville-Washington, NC CSA.csv',
 '2000.annual 08007 Archuleta County, Colorado.csv',
 '2000.annual 30007 Broadwater County, Montana.csv',
 '2000.annual 40035 Craig County, Oklahoma.csv',
 '2000.annual 40103 Noble County, Oklahoma.csv',
 '2000.annual 29149 Oregon County, Missouri.csv',
 '2000.annual 44000 Rhode Island -- Statewide.csv',
 '2000.annual 48027 Bell County, Texas.csv',
 '2000.annual C3958 Raleigh, NC MSA.csv',
 '2000.annual 51075 Goochland County, Virginia.csv',
 '2000.annual C3182 Manitowoc, WI MicroSA.csv',
 '2000.annual 01115 St. Clair County, Alabama.csv',
 '2000.annual 37000 North Carolina -- Statewide.csv',
 '2000.annual 05053 Grant County, Arkansas.csv',
 '2000.annual 39081 Jefferson County, Ohio.csv',
 '2000.annual 51005 Alleghany County, Virginia.csv',
 '2000.annual 54091 Taylor County, West Virginia.csv',
 '2000.annual 47003 Bedford County, Tennessee.csv',
 '2000.annual C2648 Humboldt, TN MicroSA.csv',
 '2000.annual 37109 Lincoln County, North Carolina.csv',
 '2000.annual 34025 Monmouth County, New Jersey.csv',
 '2000.annual 37151 Randolph County, North Carolina.csv',
 '2000.annual C1090 Allentown-Bethlehem-Easton, PA-NJ MSA.csv',
 '2000.annual 37041 Chowan County, North Carolina.csv',
 '2000.annual 17151 Pope County, Illinois.csv',
 '2000.annual 29087 Holt County, Missouri.csv',
 '2000.annual 54073 Pleasants County, West Virginia.csv',
 '2000.annual 45073 Oconee County, South Carolina.csv',
 '2000.annual C1742 Cleveland, TN MSA.csv',
 '2000.annual 29043 Christian County, Missouri.csv',
 '2000.annual C4090 Sacramento--Roseville--Arden-Arcade, CA MSA.csv',
 '2000.annual C3438 Mount Pleasant, MI MicroSA.csv',
 '2000.annual 19185 Wayne County, Iowa.csv',
 '2000.annual 22085 Sabine Parish, Louisiana.csv',
 '2000.annual 72007 Aguas Buenas Municipio, Puerto Rico.csv',
 '2000.annual 48191 Hall County, Texas.csv',
 '2000.annual 51177 Spotsylvania County, Virginia.csv',
 '2000.annual 53037 Kittitas County, Washington.csv',
 '2000.annual C2498 Grenada, MS MicroSA.csv',
 '2000.annual 18179 Wells County, Indiana.csv',
 '2000.annual 18135 Randolph County, Indiana.csv',
 '2000.annual 48271 Kinney County, Texas.csv',
 '2000.annual C3482 Myrtle Beach-Conway-North Myrtle Beach, SC-NC MSA.csv',
 '2000.annual 47009 Blount County, Tennessee.csv',
 '2000.annual C1366 Big Rapids, MI MicroSA.csv',
 '2000.annual 36067 Onondaga County, New York.csv',
 '2000.annual 17001 Adams County, Illinois.csv',
 '2000.annual 72000 Puerto Rico -- Statewide.csv',
 '2000.annual 26067 Ionia County, Michigan.csv',
 '2000.annual 48407 San Jacinto County, Texas.csv',
 '2000.annual C1846 Cornelia, GA MicroSA.csv',
 '2000.annual 39069 Henry County, Ohio.csv',
 '2000.annual 17115 Macon County, Illinois.csv',
 '2000.annual C1088 Allegan, MI MicroSA.csv',
 '2000.annual 21075 Fulton County, Kentucky.csv',
 '2000.annual 40141 Tillman County, Oklahoma.csv',
 '2000.annual CS142 Birmingham-Hoover-Talladega, AL CSA.csv',
 '2000.annual 48277 Lamar County, Texas.csv',
 '2000.annual C1230 Augusta-Waterville, ME MicroSA.csv',
 '2000.annual 18113 Noble County, Indiana.csv',
 '2000.annual 27079 Le Sueur County, Minnesota.csv',
 '2000.annual 13001 Appling County, Georgia.csv',
 '2000.annual 05035 Crittenden County, Arkansas.csv',
 '2000.annual C3298 Merrill, WI MicroSA.csv',
 '2000.annual 31111 Lincoln County, Nebraska.csv',
 '2000.annual 20055 Finney County, Kansas.csv',
 '2000.annual 08063 Kit Carson County, Colorado.csv',
 '2000.annual 48103 Crane County, Texas.csv',
 '2000.annual 48189 Hale County, Texas.csv',
 '2000.annual 20075 Hamilton County, Kansas.csv',
 '2000.annual 49055 Wayne County, Utah.csv',
 '2000.annual C1054 Albany, OR MSA.csv',
 '2000.annual 48355 Nueces County, Texas.csv',
 '2000.annual C4950 Yauco, PR MSA.csv',
 '2000.annual 46115 Spink County, South Dakota.csv',
 '2000.annual C1042 Akron, OH MSA.csv',
 '2000.annual 22027 Claiborne Parish, Louisiana.csv',
 '2000.annual 28089 Madison County, Mississippi.csv',
 '2000.annual 41043 Linn County, Oregon.csv',
 '2000.annual 31165 Sioux County, Nebraska.csv',
 '2000.annual C2646 Hudson, NY MicroSA.csv',
 '2000.annual 39019 Carroll County, Ohio.csv',
 '2000.annual 13017 Ben Hill County, Georgia.csv',
 '2000.annual 22057 Lafourche Parish, Louisiana.csv',
 '2000.annual 36057 Montgomery County, New York.csv',
 '2000.annual 53049 Pacific County, Washington.csv',
 '2000.annual 02100 Haines Borough, Alaska.csv',
 '2000.annual 27017 Carlton County, Minnesota.csv',
 '2000.annual C2878 Kingsville, TX MicroSA.csv',
 '2000.annual 28127 Simpson County, Mississippi.csv',
 '2000.annual 25021 Norfolk County, Massachusetts.csv',
 '2000.annual C2386 Georgetown, SC MicroSA.csv',
 '2000.annual 05099 Nevada County, Arkansas.csv',
 '2000.annual C2198 Fallon, NV MicroSA.csv',
 '2000.annual 39057 Greene County, Ohio.csv',
 '2000.annual 51107 Loudoun County, Virginia.csv',
 '2000.annual C3330 Milledgeville, GA MicroSA.csv',
 '2000.annual 72057 Guayama Municipio, Puerto Rico.csv',
 '2000.annual C4398 Spencer, IA MicroSA.csv',
 '2000.annual 55000 Wisconsin -- Statewide.csv',
 '2000.annual 26087 Lapeer County, Michigan.csv',
 '2000.annual C2334 Fremont, NE MicroSA.csv',
 '2000.annual 21205 Rowan County, Kentucky.csv',
 '2000.annual C3966 Rapid City, SD MSA.csv',
 '2000.annual 39165 Warren County, Ohio.csv',
 '2000.annual 36039 Greene County, New York.csv',
 '2000.annual 08109 Saguache County, Colorado.csv',
 '2000.annual C1494 Brigham City, UT MicroSA.csv',
 '2000.annual 35031 Mckinley County, New Mexico.csv',
 '2000.annual C4882 Willmar, MN MicroSA.csv',
 '2000.annual 04003 Cochise County, Arizona.csv',

In [10]:
# creating a list of the selected files for data to be obtained from
# these are only the counties that we are interested in

Co_files00 = []

for filename in filesList:
    for i in STCO:
        if i in filename:
            Co_files00.append(filename)
            
len(Co_files00)

273

In [11]:
# streaming method: reduces computer memory consumption, more efficient
# reading in only the value (row+column) we need

import csv

# function to read in data from csv in a streamable mode
def csvRows(filename):
    with open(filename, 'r') as fi:
        reader = csv.DictReader(x.replace('\0', '') for x in fi)
        for row in reader:
            return row['area_fips'], row['annual_avg_emplvl']
        
# creating a path for the folder where all the .csv files are in
# change to your folder if needed
# path = '../DCP Internship/2000.annual.by_area/'

# creating an empty dict to store the data
JobsCO00 = {}

for i in Co_files00:
    row = csvRows(mypath + i)
    # append the data to the empty dict; STCO as key and total_emp as value 
    JobsCO00[row[0]] = row[1]


# making it a DataFrame
JobsCO00 = pd.DataFrame.from_dict(JobsCO00, orient='index', columns=['Total_emp00'])
JobsCO00 = JobsCO00.sort_index()

print(JobsCO00.shape)
print(type(JobsCO00))
print(JobsCO00.dtypes)
JobsCO00.head()

(273, 1)
<class 'pandas.core.frame.DataFrame'>
Total_emp00    object
dtype: object

      Total_emp00
06001      697215
06013      337924
06037     4110915
06041      112454
06055       60552

In [12]:
JobsCO00['Total_emp00'] = JobsCO00['Total_emp00'].astype(int)

## 2008

In [13]:
# creating a list of all file names in the unzipped folder

import os

mypath08 = '/Users/danachermesh/Desktop/rp-USmetros_comparison/data/2008.annual.by_area/'# change to your path
filesList08 = os.listdir(mypath08)

filesList08

['2008.annual 48107 Crosby County, Texas.csv',
 '2008.annual 21005 Anderson County, Kentucky.csv',
 '2008.annual 37153 Richmond County, North Carolina.csv',
 '2008.annual 78020 St. John, Virgin Islands.csv',
 '2008.annual 35003 Catron County, New Mexico.csv',
 '2008.annual 26093 Livingston County, Michigan.csv',
 '2008.annual C4494 Sumter, SC MSA.csv',
 '2008.annual 17105 Livingston County, Illinois.csv',
 '2008.annual 13083 Dade County, Georgia.csv',
 '2008.annual 06005 Amador County, California.csv',
 '2008.annual 54069 Ohio County, West Virginia.csv',
 '2008.annual 08105 Rio Grande County, Colorado.csv',
 '2008.annual C1586 Canon City, CO MicroSA.csv',
 '2008.annual 18021 Clay County, Indiana.csv',
 '2008.annual 13211 Morgan County, Georgia.csv',
 '2008.annual 45043 Georgetown County, South Carolina.csv',
 '2008.annual 29051 Cole County, Missouri.csv',
 '2008.annual C3218 Marshall, MO MicroSA.csv',
 '2008.annual 72119 Rio Grande Municipio, Puerto Rico.csv',
 '2008.annual CS434 Ponce-Coamo-Santa Isabel, PR CSA.csv',
 '2008.annual 19129 Mills County, Iowa.csv',
 '2008.annual 56025 Natrona County, Wyoming.csv',
 '2008.annual 72069 Humacao Municipio, Puerto Rico.csv',
 '2008.annual CS252 Fond du Lac-Beaver Dam, WI CSA.csv',
 '2008.annual 35013 Dona Ana County, New Mexico.csv',
 '2008.annual 19045 Clinton County, Iowa.csv',
 '2008.annual 31091 Hooker County, Nebraska.csv',
 '2008.annual 72049 Culebra Municipio, Puerto Rico.csv',
 '2008.annual 20197 Wabaunsee County, Kansas.csv',
 '2008.annual 40147 Washington County, Oklahoma.csv',
 '2008.annual 72141 Utuado Municipio, Puerto Rico.csv',
 '2008.annual C1682 Charlottesville, VA MSA.csv',
 '2008.annual 51095 James City County, Virginia.csv',
 '2008.annual 21185 Oldham County, Kentucky.csv',
 '2008.annual 21025 Breathitt County, Kentucky.csv',
 '2008.annual C4758 Warner Robins, GA MSA.csv',
 '2008.annual CS396 Myrtle Beach-Conway, SC-NC CSA.csv',
 '2008.annual 29111 Lewis County, Missouri.csv',
 '2008.annual C2546 Harrison, AR MicroSA.csv',
 '2008.annual 37133 Onslow County, North Carolina.csv',
 '2008.annual C4634 Tyler, TX MSA.csv',
 '2008.annual 06003 Alpine County, California.csv',
 '2008.annual 55073 Marathon County, Wisconsin.csv',
 '2008.annual 28057 Itawamba County, Mississippi.csv',
 '2008.annual 48169 Garza County, Texas.csv',
 '2008.annual C2106 Elizabethtown-Fort Knox, KY MSA.csv',
 '2008.annual 30057 Madison County, Montana.csv',
 '2008.annual C3250 Maysville, KY MicroSA.csv',
 '2008.annual C1898 Cullman, AL MicroSA.csv',
 '2008.annual CS148 Boston-Worcester-Providence, MA-RI-NH-CT CSA.csv',
 '2008.annual 13319 Wilkinson County, Georgia.csv',
 '2008.annual 48029 Bexar County, Texas.csv',
 '2008.annual 55077 Marquette County, Wisconsin.csv',
 '2008.annual 28153 Wayne County, Mississippi.csv',
 '2008.annual 26035 Clare County, Michigan.csv',
 '2008.annual 48465 Val Verde County, Texas.csv',
 '2008.annual 28017 Chickasaw County, Mississippi.csv',
 '2008.annual 24041 Talbot County, Maryland.csv',
 '2008.annual 05097 Montgomery County, Arkansas.csv',
 '2008.annual 48343 Morris County, Texas.csv',
 '2008.annual C3426 Mountain Home, AR MicroSA.csv',
 '2008.annual CS260 Fresno-Madera, CA CSA.csv',
 '2008.annual C4418 Springfield, MO MSA.csv',
 '2008.annual 27075 Lake County, Minnesota.csv',
 '2008.annual C1010 Aberdeen, SD MicroSA.csv',
 '2008.annual C4490 Summerville, GA MicroSA.csv',
 '2008.annual 13063 Clayton County, Georgia.csv',
 '2008.annual 30021 Dawson County, Montana.csv',
 '2008.annual 36017 Chenango County, New York.csv',
 '2008.annual 31071 Garfield County, Nebraska.csv',
 '2008.annual 72019 Barranquitas Municipio, Puerto Rico.csv',
 '2008.annual 20185 Stafford County, Kansas.csv',
 '2008.annual 39999 Unknown Or Undefined, Ohio.csv',
 '2008.annual 48229 Hudspeth County, Texas.csv',
 '2008.annual 28129 Smith County, Mississippi.csv',
 '2008.annual C3714 Paducah, KY-IL MicroSA.csv',
 '2008.annual 05013 Calhoun County, Arkansas.csv',
 '2008.annual 23017 Oxford County, Maine.csv',
 '2008.annual 22077 Pointe Coupee Parish, Louisiana.csv',
 '2008.annual 05137 Stone County, Arkansas.csv',
 '2008.annual 48193 Hamilton County, Texas.csv',
 '2008.annual 44000 Rhode Island -- Statewide.csv',
 '2008.annual C3890 Portland-Vancouver-Hillsboro, OR-WA MSA.csv',
 '2008.annual C2070 East Stroudsburg, PA MSA.csv',
 '2008.annual 48395 Robertson County, Texas.csv',
 '2008.annual 12091 Okaloosa County, Florida.csv',
 '2008.annual 01115 St. Clair County, Alabama.csv',
 '2008.annual C1794 Columbia, TN MicroSA.csv',
 '2008.annual 48197 Hardeman County, Texas.csv',
 '2008.annual 41051 Multnomah County, Oregon.csv',
 '2008.annual US000 U.S. TOTAL.csv',
 '2008.annual C3538 New Orleans-Metairie, LA MSA.csv',
 '2008.annual 48447 Throckmorton County, Texas.csv',
 '2008.annual C2986 Laurel, MS MicroSA.csv',
 '2008.annual 28049 Hinds County, Mississippi.csv',
 '2008.annual 05001 Arkansas County, Arkansas.csv',
 '2008.annual 51775 Salem City, Virginia.csv',
 '2008.annual 06041 Marin County, California.csv',
 '2008.annual 51515 Bedford City, Virginia.csv',
 '2008.annual 55029 Door County, Wisconsin.csv',
 '2008.annual 19169 Story County, Iowa.csv',
 '2008.annual C4222 Santa Rosa, CA MSA.csv',
 '2008.annual 27011 Big Stone County, Minnesota.csv',
 '2008.annual 26071 Iron County, Michigan.csv',
 '2008.annual 26085 Lake County, Michigan.csv',
 '2008.annual 27121 Pope County, Minnesota.csv',
 '2008.annual 13051 Chatham County, Georgia.csv',
 '2008.annual 39047 Fayette County, Ohio.csv',
 '2008.annual C3098 Longview, TX MSA.csv',
 '2008.annual 40015 Caddo County, Oklahoma.csv',
 '2008.annual 13147 Hart County, Georgia.csv',
 '2008.annual 54009 Brooke County, West Virginia.csv',
 '2008.annual 38067 Pembina County, North Dakota.csv',
 '2008.annual 51083 Halifax County, Virginia.csv',
 '2008.annual 28137 Tate County, Mississippi.csv',
 '2008.annual 31123 Morrill County, Nebraska.csv',
 '2008.annual 22103 St. Tammany Parish, Louisiana.csv',
 '2008.annual 17177 Stephenson County, Illinois.csv',
 '2008.annual 36121 Wyoming County, New York.csv',
 '2008.annual 41019 Douglas County, Oregon.csv',
 '2008.annual 40105 Nowata County, Oklahoma.csv',
 '2008.annual C1754 Clinton, IA MicroSA.csv',
 '2008.annual 49027 Millard County, Utah.csv',
 '2008.annual 24011 Caroline County, Maryland.csv',
 '2008.annual C3630 Ogdensburg-Massena, NY MicroSA.csv',
 '2008.annual 13095 Dougherty County, Georgia.csv',
 '2008.annual 17065 Hamilton County, Illinois.csv',
 '2008.annual 51550 Chesapeake City, Virginia.csv',
 '2008.annual 08055 Huerfano County, Colorado.csv',
 '2008.annual 41061 Union County, Oregon.csv',
 '2008.annual 22093 St. James Parish, Louisiana.csv',
 '2008.annual C1974 Denver-Aurora-Lakewood, CO MSA.csv',
 '2008.annual 48351 Newton County, Texas.csv',
 '2008.annual 40021 Cherokee County, Oklahoma.csv',
 '2008.annual CS297 Jackson-Humboldt, TN CSA.csv',
 '2008.annual 47103 Lincoln County, Tennessee.csv',
 '2008.annual 13133 Greene County, Georgia.csv',
 '2008.annual 27067 Kandiyohi County, Minnesota.csv',
 '2008.annual C3818 Pierre, SD MicroSA.csv',
 '2008.annual 13221 Oglethorpe County, Georgia.csv',
 '2008.annual 13035 Butts County, Georgia.csv',
 '2008.annual 06077 San Joaquin County, California.csv',
 '2008.annual 39103 Medina County, Ohio.csv',
 '2008.annual 25007 Dukes County, Massachusetts.csv',
 '2008.annual C2814 Kansas City, MO-KS MSA.csv',
 '2008.annual 16047 Gooding County, Idaho.csv',
 '2008.annual C1562 Cadillac, MI MicroSA.csv',
 '2008.annual 21177 Muhlenberg County, Kentucky.csv',
 '2008.annual 22117 Washington Parish, Louisiana.csv',
 '2008.annual 47175 Van Buren County, Tennessee.csv',
 '2008.annual C2974 Las Cruces, NM MSA.csv',
 '2008.annual 48119 Delta County, Texas.csv',
 '2008.annual 29011 Barton County, Missouri.csv',
 '2008.annual 17159 Richland County, Illinois.csv',
 '2008.annual 40037 Creek County, Oklahoma.csv',
 '2008.annual C3734 Palm Bay-Melbourne-Titusville, FL MSA.csv',
 '2008.annual C1038 Aguadilla-Isabela, PR MSA.csv',
 '2008.annual 30001 Beaverhead County, Montana.csv',
 '2008.annual 27001 Aitkin County, Minnesota.csv',
 '2008.annual C4422 Springfield, OH MSA.csv',
 '2008.annual 48455 Trinity County, Texas.csv',
 '2008.annual 39087 Lawrence County, Ohio.csv',
 '2008.annual CS538 Tulsa-Muskogee-Bartlesville, OK CSA.csv',
 '2008.annual 13087 Decatur County, Georgia.csv',
 '2008.annual 51683 Manassas City, Virginia.csv',
 '2008.annual 17189 Washington County, Illinois.csv',
 '2008.annual C4370 Somerset, KY MicroSA.csv',
 '2008.annual CS554 Wausau-Stevens Point-Wisconsin Rapids, WI CSA.csv',
 '2008.annual 45087 Union County, South Carolina.csv',
 '2008.annual 13069 Coffee County, Georgia.csv',
 '2008.annual C3202 Marion, OH MicroSA.csv',
 '2008.annual 05015 Carroll County, Arkansas.csv',
 '2008.annual C3542 New Philadelphia-Dover, OH MicroSA.csv',
 '2008.annual 33999 Unknown Or Undefined, New Hampshire.csv',
 '2008.annual 20023 Cheyenne County, Kansas.csv',
 '2008.annual 08047 Gilpin County, Colorado.csv',
 '2008.annual 18171 Warren County, Indiana.csv',
 '2008.annual 39111 Monroe County, Ohio.csv',
 '2008.annual 06083 Santa Barbara County, California.csv',
 '2008.annual 21211 Shelby County, Kentucky.csv',
 '2008.annual 20079 Harvey County, Kansas.csv',
 '2008.annual 31000 Nebraska -- Statewide.csv',
 '2008.annual 72113 Ponce Municipio, Puerto Rico.csv',
 '2008.annual 29143 New Madrid County, Missouri.csv',
 '2008.annual 48201 Harris County, Texas.csv',
 '2008.annual 37181 Vance County, North Carolina.csv',
 '2008.annual 48183 Gregg County, Texas.csv',
 '2008.annual 29225 Webster County, Missouri.csv',
 '2008.annual 49005 Cache County, Utah.csv',
 '2008.annual 26005 Allegan County, Michigan.csv',
 '2008.annual 25003 Berkshire County, Massachusetts.csv',
 '2008.annual 29185 St. Clair County, Missouri.csv',
 '2008.annual 47107 McMinn County, Tennessee.csv',
 '2008.annual 40003 Alfalfa County, Oklahoma.csv',
 '2008.annual 48499 Wood County, Texas.csv',
 '2008.annual 28143 Tunica County, Mississippi.csv',
 '2008.annual 26063 Huron County, Michigan.csv',
 '2008.annual 24023 Garrett County, Maryland.csv',
 '2008.annual 41069 Wheeler County, Oregon.csv',
 '2008.annual 13227 Pickens County, Georgia.csv',
 '2008.annual 46083 Lincoln County, South Dakota.csv',
 '2008.annual 22105 Tangipahoa Parish, Louisiana.csv',
 '2008.annual 22121 West Baton Rouge Parish, Louisiana.csv',
 '2008.annual 08101 Pueblo County, Colorado.csv',
 '2008.annual C2278 Fort Leonard Wood, MO MicroSA.csv',
 '2008.annual C2490 Greenwood, MS MicroSA.csv',
 '2008.annual 53057 Skagit County, Washington.csv',
 '2008.annual 54097 Upshur County, West Virginia.csv',
 '2008.annual 23999 Unknown Or Undefined, Maine.csv',
 '2008.annual 27143 Sibley County, Minnesota.csv',
 '2008.annual C3070 Lincoln, NE MSA.csv',
 '2008.annual 13137 Habersham County, Georgia.csv',
 '2008.annual C2090 El Campo, TX MicroSA.csv',
 '2008.annual 40097 Mayes County, Oklahoma.csv',
 '2008.annual 13215 Muscogee County, Georgia.csv',
 '2008.annual 35999 Unknown Or Undefined, New Mexico.csv',
 '2008.annual 18041 Fayette County, Indiana.csv',
 '2008.annual C2754 Jasper, IN MicroSA.csv',
 '2008.annual 06025 Imperial County, California.csv',
 '2008.annual C1138 Andrews, TX MicroSA.csv',
 '2008.annual 21193 Perry County, Kentucky.csv',
 '2008.annual 48073 Cherokee County, Texas.csv',
 '2008.annual 28161 Yalobusha County, Mississippi.csv',
 '2008.annual C4146 Salina, KS MicroSA.csv',
 '2008.annual C2958 Lancaster, SC MicroSA.csv',
 '2008.annual 54007 Braxton County, West Virginia.csv',
 '2008.annual 40017 Canadian County, Oklahoma.csv',
 '2008.annual 26135 Oscoda County, Michigan.csv',
 '2008.annual 78030 St. Thomas, Virgin Islands.csv',
 '2008.annual 39093 Lorain County, Ohio.csv',
 '2008.annual 51003 Albemarle County, Virginia.csv',
 '2008.annual 48063 Camp County, Texas.csv',
 '2008.annual C2094 El Centro, CA MSA.csv',
 '2008.annual 31117 McPherson County, Nebraska.csv',
 '2008.annual C4342 Sierra Vista-Douglas, AZ MSA.csv',
 '2008.annual 22127 Winn Parish, Louisiana.csv',
 '2008.annual 16007 Bear Lake County, Idaho.csv',
 '2008.annual C2010 Dover, DE MSA.csv',
 '2008.annual 48471 Walker County, Texas.csv',
 '2008.annual C2142 Enid, OK MicroSA.csv',
 '2008.annual 47145 Roane County, Tennessee.csv',
 '2008.annual 54005 Boone County, West Virginia.csv',
 '2008.annual 34017 Hudson County, New Jersey.csv',
 '2008.annual 10003 New Castle County, Delaware.csv',
 '2008.annual 13185 Lowndes County, Georgia.csv',
 '2008.annual 38025 Dunn County, North Dakota.csv',
 '2008.annual 31007 Banner County, Nebraska.csv',
 '2008.annual 36023 Cortland County, New York.csv',
 '2008.annual 51061 Fauquier County, Virginia.csv',
 '2008.annual 29187 St. Francois County, Missouri.csv',
 '2008.annual 37183 Wake County, North Carolina.csv',
 '2008.annual C4110 St. George, UT MSA.csv',
 '2008.annual 37175 Transylvania County, North Carolina.csv',
 '2008.annual C4318 Shelbyville, TN MicroSA.csv',
 '2008.annual C2690 Indianapolis-Carmel-Anderson, IN MSA.csv',
 '2008.annual C2266 Fort Collins, CO MSA.csv',
 '2008.annual 37121 Mitchell County, North Carolina.csv',
 '2008.annual 37129 New Hanover County, North Carolina.csv',
 '2008.annual 32019 Lyon County, Nevada.csv',
 '2008.annual 55015 Calumet County, Wisconsin.csv',
 '2008.annual 39153 Summit County, Ohio.csv',
 '2008.annual C2034 Duncan, OK MicroSA.csv',
 '2008.annual 36053 Madison County, New York.csv',
 '2008.annual 45085 Sumter County, South Carolina.csv',
 '2008.annual C4742 Wahpeton, ND-MN MicroSA.csv',
 '2008.annual 13195 Madison County, Georgia.csv',
 '2008.annual 23011 Kennebec County, Maine.csv',
 '2008.annual 40045 Ellis County, Oklahoma.csv',
 '2008.annual 28021 Claiborne County, Mississippi.csv',
 '2008.annual 28085 Lincoln County, Mississippi.csv',
 '2008.annual 48503 Young County, Texas.csv',
 '2008.annual 47173 Union County, Tennessee.csv',
 '2008.annual 27169 Winona County, Minnesota.csv',
 '2008.annual C3450 Mount Vernon, IL MicroSA.csv',
 '2008.annual C2506 Gulfport-Biloxi-Pascagoula, MS MSA.csv',
 '2008.annual 39011 Auglaize County, Ohio.csv',
 '2008.annual 72073 Jayuya Municipio, Puerto Rico.csv',
 '2008.annual 48217 Hill County, Texas.csv',
 '2008.annual 38035 Grand Forks County, North Dakota.csv',
 '2008.annual 27167 Wilkin County, Minnesota.csv',
 '2008.annual 46019 Butte County, South Dakota.csv',
 '2008.annual 55065 Lafayette County, Wisconsin.csv',
 '2008.annual 12063 Jackson County, Florida.csv',
 '2008.annual 26115 Monroe County, Michigan.csv',
 '2008.annual 17033 Crawford County, Illinois.csv',
 '2008.annual 27087 Mahnomen County, Minnesota.csv',
 '2008.annual 19173 Taylor County, Iowa.csv',
 '2008.annual CS278 Hartford-West Hartford, CT CSA.csv',
 '2008.annual C2738 Jacksonville, TX MicroSA.csv',
 '2008.annual 48000 Texas -- Statewide.csv',
 '2008.annual 17057 Fulton County, Illinois.csv',
 '2008.annual 29205 Shelby County, Missouri.csv',
 '2008.annual 41017 Deschutes County, Oregon.csv',
 '2008.annual 01117 Shelby County, Alabama.csv',
 '2008.annual 13191 McIntosh County, Georgia.csv',
 '2008.annual C1894 Crowley, LA MicroSA.csv',
 '2008.annual 05003 Ashley County, Arkansas.csv',
 '2008.annual 36059 Nassau County, New York.csv',
 '2008.annual 30053 Lincoln County, Montana.csv',
 '2008.annual CS496 Savannah-Hinesville-Statesboro, GA CSA.csv',
 '2008.annual 30051 Liberty County, Montana.csv',
 '2008.annual 47127 Moore County, Tennessee.csv',
 '2008.annual C3982 Redding, CA MSA.csv',
 '2008.annual 31081 Hamilton County, Nebraska.csv',
 '2008.annual 53000 Washington -- Statewide.csv',
 '2008.annual 45059 Laurens County, South Carolina.csv',
 '2008.annual 35047 San Miguel County, New Mexico.csv',
 '2008.annual 05017 Chicot County, Arkansas.csv',
 '2008.annual 37073 Gates County, North Carolina.csv',
 '2008.annual 13253 Seminole County, Georgia.csv',
 '2008.annual 39175 Wyandot County, Ohio.csv',
 '2008.annual 23015 Lincoln County, Maine.csv',
 '2008.annual 55109 St. Croix County, Wisconsin.csv',
 '2008.annual CS348 Los Angeles-Long Beach, CA CSA.csv',
 '2008.annual 33005 Cheshire County, New Hampshire.csv',
 '2008.annual 21103 Henry County, Kentucky.csv',
 '2008.annual C4666 Valdosta, GA MSA.csv',
 '2008.annual 51157 Rappahannock County, Virginia.csv',
 '2008.annual 42037 Columbia County, Pennsylvania.csv',
 '2008.annual 02150 Kodiak Island Borough, Alaska.csv',
 '2008.annual 51063 Floyd County, Virginia.csv',
 '2008.annual 51191 Washington County, Virginia.csv',
 '2008.annual 31151 Saline County, Nebraska.csv',
 '2008.annual C2066 Easton, MD MicroSA.csv',
 '2008.annual 55115 Shawano County, Wisconsin.csv',
 '2008.annual 29075 Gentry County, Missouri.csv',
 '2008.annual 13281 Towns County, Georgia.csv',
 '2008.annual 51193 Westmoreland County, Virginia.csv',
 '2008.annual 48309 McLennan County, Texas.csv',
 '2008.annual CS330 Lansing-East Lansing-Owosso, MI CSA.csv',
 '2008.annual C2466 Greensboro-High Point, NC MSA.csv',
 '2008.annual 29171 Putnam County, Missouri.csv',
 '2008.annual 48095 Concho County, Texas.csv',
 '2008.annual 48437 Swisher County, Texas.csv',
 '2008.annual 35006 Cibola County, New Mexico.csv',
 '2008.annual CS206 Dallas-Fort Worth, TX-OK CSA.csv',
 '2008.annual C4594 Trenton, NJ MSA.csv',
 '2008.annual 12061 Indian River County, Florida.csv',
 '2008.annual 47081 Hickman County, Tennessee.csv',
 '2008.annual 13231 Pike County, Georgia.csv',
 '2008.annual 17000 Illinois -- Statewide.csv',
 '2008.annual 55009 Brown County, Wisconsin.csv',
 '2008.annual 48399 Runnels County, Texas.csv',
 '2008.annual 08103 Rio Blanco County, Colorado.csv',
 '2008.annual 48037 Bowie County, Texas.csv',
 '2008.annual 39085 Lake County, Ohio.csv',
 '2008.annual C3190 Mansfield, OH MSA.csv',
 '2008.annual 37167 Stanly County, North Carolina.csv',
 '2008.annual 32015 Lander County, Nevada.csv',
 '2008.annual C4378 South Bend-Mishawaka, IN-MI MSA.csv',
 '2008.annual 12089 Nassau County, Florida.csv',
 '2008.annual 39000 Ohio -- Statewide.csv',
 '2008.annual 34041 Warren County, New Jersey.csv',
 '2008.annual C3746 Panama City, FL MSA.csv',
 '2008.annual C2418 Granbury, TX MicroSA.csv',
 '2008.annual 27083 Lyon County, Minnesota.csv',
 '2008.annual 27123 Ramsey County, Minnesota.csv',
 '2008.annual C2826 Kearney, NE MicroSA.csv',
 '2008.annual 46089 McPherson County, South Dakota.csv',
 '2008.annual 20059 Franklin County, Kansas.csv',
 '2008.annual C3478 Muskogee, OK MicroSA.csv',
 '2008.annual C3790 Peoria, IL MSA.csv',
 '2008.annual 48199 Hardin County, Texas.csv',
 '2008.annual 19101 Jefferson County, Iowa.csv',
 '2008.annual 12005 Bay County, Florida.csv',
 '2008.annual 39065 Hardin County, Ohio.csv',
 '2008.annual 51036 Charles City County, Virginia.csv',
 '2008.annual 05009 Boone County, Arkansas.csv',
 '2008.annual 20091 Johnson County, Kansas.csv',
 '2008.annual C4578 Toledo, OH MSA.csv',
 '2008.annual 17077 Jackson County, Illinois.csv',
 '2008.annual C3150 Madison, IN MicroSA.csv',
 '2008.annual C1338 Bellingham, WA MSA.csv',
 '2008.annual 16073 Owyhee County, Idaho.csv',
 '2008.annual 42075 Lebanon County, Pennsylvania.csv',
 '2008.annual CS304 Johnson City-Kingsport-Bristol, TN-VA CSA.csv',
 '2008.annual 46099 Minnehaha County, South Dakota.csv',
 '2008.annual 27015 Brown County, Minnesota.csv',
 '2008.annual 08083 Montezuma County, Colorado.csv',
 '2008.annual 28015 Carroll County, Mississippi.csv',
 '2008.annual 16045 Gem County, Idaho.csv',
 '2008.annual 29027 Callaway County, Missouri.csv',
 '2008.annual C4778 Washington, IN MicroSA.csv',
 '2008.annual 27091 Martin County, Minnesota.csv',
 '2008.annual 46063 Harding County, South Dakota.csv',
 '2008.annual 54021 Gilmer County, West Virginia.csv',
 '2008.annual 05143 Washington County, Arkansas.csv',
 '2008.annual 22029 Concordia Parish, Louisiana.csv',
 '2008.annual 47159 Smith County, Tennessee.csv',
 '2008.annual C4522 Tallahassee, FL MSA.csv',
 '2008.annual 08113 San Miguel County, Colorado.csv',

In [14]:
Co_files08 = []

for filename in filesList08:
    for i in STCO:
        if i in filename:
            Co_files08.append(filename)
            
len(Co_files08)

274

In [15]:
# creating an empty dict to store the data
JobsCO08 = {}

for i in Co_files08:
    row = csvRows(mypath08 + i)
    # append the data to the empty dict; STCO as key and total_emp as value 
    JobsCO08[row[0]] = row[1]


# making it a DataFrame
JobsCO08 = pd.DataFrame.from_dict(JobsCO08, orient='index', columns=['Total_emp08'])
JobsCO08 = JobsCO08.sort_index()

print(JobsCO08.shape)
print(type(JobsCO08))
print(JobsCO08.dtypes)
JobsCO08.head()

(274, 1)
<class 'pandas.core.frame.DataFrame'>
Total_emp08    object
dtype: object

      Total_emp08
06001      683099
06013      339547
06037     4168699
06041      109340
06055       68850

## Merging Jobs00 + Jobs08 + Jobs17

In [16]:
JobsCO = JobsCO00.merge(JobsCO08, left_index=True,
                                  right_index=True)

JobsCO = JobsCO.merge(JobsCO17, left_index=True,
                                right_index=True)

JobsCO['Total_emp08'] = JobsCO['Total_emp08'].fillna(0).astype(int)
JobsCO['Total_emp17'] = JobsCO['Total_emp17'].fillna(0).astype(int)

JobsCO['emp_NET00-08'] = JobsCO['Total_emp08'] - JobsCO['Total_emp00']
JobsCO['emp_%00-08'] = (JobsCO['Total_emp08'] - JobsCO['Total_emp00']) \
                    / JobsCO['Total_emp00']

JobsCO['emp_NET08-17'] = JobsCO['Total_emp17'] - JobsCO['Total_emp08']
JobsCO['emp_%08-17'] = (JobsCO['Total_emp17'] - JobsCO['Total_emp08']) \
                    / JobsCO['Total_emp08']

print(JobsCO.dtypes)
print(JobsCO.shape)
JobsCO.head()

Total_emp00       int64
Total_emp08       int64
Total_emp17       int64
emp_NET00-08      int64
emp_%00-08      float64
emp_NET08-17      int64
emp_%08-17      float64
dtype: object
(273, 7)

,Total_emp00,Total_emp08,Total_emp17,emp_NET00-08,emp_%00-08,emp_NET08-17,emp_%08-17
06001,697215,683099,771652,-14116,-0.020246,88553,0.129634
06013,337924,339547,366720,1623,0.004803,27173,0.080027
06037,4110915,4168699,4381836,57784,0.014056,213137,0.051128
06041,112454,109340,115432,-3114,-0.027691,6092,0.055716
06055,60552,68850,76762,8298,0.137039,7912,0.114916

### Exporting all counties employment 00-08-17 data to .csv

In [17]:
JobsCO.to_csv('exports/Jobs00-08-17CO_NEW.csv')

### Merging with geo-coded data in order to groupby CSA's

In [18]:
JobsCO_CSA = JobsCO.iloc[:,:3].merge(geo, left_index=True, 
                                right_on='STCO').set_index('County_name')

print(JobsCO_CSA.shape)
JobsCO_CSA.tail()

(273, 6)

,Total_emp00,Total_emp08,Total_emp17,CSA,CSA_name,STCO
County_name,,,,,,
Hampshire,3735,4121,3742,548,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",54027
Jefferson,12776,14337,15448,548,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",54037
Kenosha,50952,54781,66392,176,"Chicago-Naperville, IL-IN-WI",55059
Pierce,9283,9328,10026,378,"Minneapolis-St. Paul, MN-WI",55093
St. Croix,25792,28959,33521,378,"Minneapolis-St. Paul, MN-WI",55109

In [19]:
JobsCSA = JobsCO_CSA.groupby(['CSA', 'CSA_name']).sum()

JobsCSA['emp_NET00-08'] = JobsCSA['Total_emp08'] - JobsCSA['Total_emp00']
JobsCSA['emp_%00-08'] = (JobsCSA['Total_emp08'] - JobsCSA['Total_emp00']) \
                                                / JobsCSA['Total_emp00']

JobsCSA['emp_NET08-17'] = JobsCSA['Total_emp17'] - JobsCSA['Total_emp08']
JobsCSA['emp_%08-17'] = (JobsCSA['Total_emp17'] - JobsCSA['Total_emp08']) \
                                                / JobsCSA['Total_emp08']

print(JobsCSA.shape)
JobsCSA

(15, 7)

,,Total_emp00,Total_emp08,Total_emp17,emp_NET00-08,emp_%00-08,emp_NET08-17,emp_%08-17
CSA,CSA_name,,,,,,,
122,"Atlanta--Athens-Clarke County--Sandy Springs, GA",2413348,2551161,2844774,137813,0.057104,293613,0.115090
148,"Boston-Worcester-Providence, MA-RI-NH-CT",3834847,3824178,4121641,-10669,-0.002782,297463,0.077785
176,"Chicago-Naperville, IL-IN-WI",4534271,4478885,4631371,-55386,-0.012215,152486,0.034046
206,"Dallas-Fort Worth, TX-OK",2844521,3071476,3586036,226955,0.079787,514560,0.167529
216,"Denver-Aurora, CO",1426753,1451976,1692477,25223,0.017679,240501,0.165637
220,"Detroit-Warren-Ann Arbor, MI",2531382,2198794,2312726,-332588,-0.131386,113932,0.051816
288,"Houston-The Woodlands, TX",2271793,2617373,2969515,345580,0.152118,352142,0.134540
348,"Los Angeles-Long Beach, CA",6793720,7225774,7741633,432054,0.063596,515859,0.071392
370,"Miami-Fort Lauderdale-Port St. Lucie, FL",2254815,2460406,2720909,205591,0.091179,260503,0.105878
378,"Minneapolis-St. Paul, MN-WI",1878800,1916797,2063304,37997,0.020224,146507,0.076433
408,"New York-Newark, NY-NJ-CT-PA",9482723,9712955,10423589,230232,0.024279,710634,0.073164
428,"Philadelphia-Reading-Camden, PA-NJ-DE-MD",3068950,3161286,3219771,92336,0.030087,58485,0.018500
488,"San Jose-San Francisco-Oakland, CA",3863329,3673486,4232644,-189843,-0.049140,559158,0.152215
500,"Seattle-Tacoma, WA",1864356,2005741,2249890,141385,0.075836,244149,0.121725
548,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",4096584,4445562,4731197,348978,0.085188,285635,0.064252

In [20]:
JobsCSA.to_csv('exports/Jobs00-08-17CSA_NEW.csv')

## 2010 -- _wasn't in use in this analysis_

In [21]:
mypath2 = '/Users/danachermesh/Desktop/rp-USmetros_comparison/data/2010.annual.by_area/'# change to your path
filesList2 = os.listdir(mypath2)

filesList2

['2010.annual 37059 Davie County, North Carolina.csv',
 '2010.annual 49045 Tooele County, Utah.csv',
 '2010.annual 17045 Edgar County, Illinois.csv',
 '2010.annual 45085 Sumter County, South Carolina.csv',
 '2010.annual 55073 Marathon County, Wisconsin.csv',
 '2010.annual 21085 Grayson County, Kentucky.csv',
 '2010.annual 26055 Grand Traverse County, Michigan.csv',
 '2010.annual 48327 Menard County, Texas.csv',
 '2010.annual 28021 Claiborne County, Mississippi.csv',
 '2010.annual C4450 Stephenville, TX MicroSA.csv',
 '2010.annual C4682 Vermillion, SD MicroSA.csv',
 '2010.annual 13115 Floyd County, Georgia.csv',
 '2010.annual 72131 San Sebastian Municipio, Puerto Rico.csv',
 '2010.annual 48121 Denton County, Texas.csv',
 '2010.annual 39999 Unknown Or Undefined, Ohio.csv',
 '2010.annual 29187 St. Francois County, Missouri.csv',
 '2010.annual C4918 Winston-Salem, NC MSA.csv',
 '2010.annual 10003 New Castle County, Delaware.csv',
 '2010.annual 27051 Grant County, Minnesota.csv',
 '2010.annual 22063 Livingston Parish, Louisiana.csv',
 '2010.annual 36113 Warren County, New York.csv',
 '2010.annual C3142 Macon, GA MSA.csv',
 '2010.annual 51035 Carroll County, Virginia.csv',
 '2010.annual 54005 Boone County, West Virginia.csv',
 '2010.annual 18115 Ohio County, Indiana.csv',
 '2010.annual C2182 Fairbanks, AK MSA.csv',
 '2010.annual 05125 Saline County, Arkansas.csv',
 '2010.annual 30101 Toole County, Montana.csv',
 '2010.annual 37183 Wake County, North Carolina.csv',
 '2010.annual 55027 Dodge County, Wisconsin.csv',
 '2010.annual 21221 Trigg County, Kentucky.csv',
 '2010.annual 27151 Swift County, Minnesota.csv',
 '2010.annual 29167 Polk County, Missouri.csv',
 '2010.annual C1946 Decatur, AL MSA.csv',
 '2010.annual 21233 Webster County, Kentucky.csv',
 '2010.annual 46077 Kingsbury County, South Dakota.csv',
 '2010.annual 19107 Keokuk County, Iowa.csv',
 '2010.annual 42121 Venango County, Pennsylvania.csv',
 '2010.annual 48417 Shackelford County, Texas.csv',
 '2010.annual 72079 Lajas Municipio, Puerto Rico.csv',
 '2010.annual 21197 Powell County, Kentucky.csv',
 '2010.annual C2130 Elmira, NY MSA.csv',
 '2010.annual 54069 Ohio County, West Virginia.csv',
 '2010.annual 01087 Macon County, Alabama.csv',
 '2010.annual 24009 Calvert County, Maryland.csv',
 '2010.annual 54007 Braxton County, West Virginia.csv',
 '2010.annual CS138 Beckley-Oak Hill, WV CSA.csv',
 '2010.annual C1298 Battle Creek, MI MSA.csv',
 '2010.annual 48483 Wheeler County, Texas.csv',
 '2010.annual 12055 Highlands County, Florida.csv',
 '2010.annual 48445 Terry County, Texas.csv',
 '2010.annual 28161 Yalobusha County, Mississippi.csv',
 '2010.annual C3206 Marion-Herrin, IL MicroSA.csv',
 '2010.annual 48163 Frio County, Texas.csv',
 '2010.annual C1282 Bastrop, LA MicroSA.csv',
 '2010.annual C1294 Baton Rouge, LA MSA.csv',
 '2010.annual 01039 Covington County, Alabama.csv',
 '2010.annual C4962 York-Hanover, PA MSA.csv',
 '2010.annual C1554 Burlington-South Burlington, VT MSA.csv',
 '2010.annual 21025 Breathitt County, Kentucky.csv',
 '2010.annual 48105 Crockett County, Texas.csv',
 '2010.annual C2362 Gainesville, TX MicroSA.csv',
 '2010.annual 31115 Loup County, Nebraska.csv',
 '2010.annual 31077 Greeley County, Nebraska.csv',
 '2010.annual 48001 Anderson County, Texas.csv',
 '2010.annual 23019 Penobscot County, Maine.csv',
 '2010.annual 28085 Lincoln County, Mississippi.csv',
 '2010.annual 05071 Johnson County, Arkansas.csv',
 '2010.annual 13177 Lee County, Georgia.csv',
 '2010.annual 32510 Carson City, Nevada.csv',
 '2010.annual 31079 Hall County, Nebraska.csv',
 '2010.annual 49013 Duchesne County, Utah.csv',
 '2010.annual 29179 Reynolds County, Missouri.csv',
 '2010.annual 48175 Goliad County, Texas.csv',
 '2010.annual 29005 Atchison County, Missouri.csv',
 '2010.annual 18019 Clark County, Indiana.csv',
 '2010.annual C1134 Anderson, SC MSA.csv',
 '2010.annual C4514 Tahlequah, OK MicroSA.csv',
 '2010.annual 21117 Kenton County, Kentucky.csv',
 '2010.annual 17189 Washington County, Illinois.csv',
 '2010.annual 27113 Pennington County, Minnesota.csv',
 '2010.annual C4230 Sault Ste. Marie, MI MicroSA.csv',
 '2010.annual 46007 Bennett County, South Dakota.csv',
 '2010.annual C2342 Fresno, CA MSA.csv',
 '2010.annual 48049 Brown County, Texas.csv',
 '2010.annual 17121 Marion County, Illinois.csv',
 '2010.annual 13221 Oglethorpe County, Georgia.csv',
 '2010.annual 17039 DeWitt County, Illinois.csv',
 '2010.annual C4058 Rocky Mount, NC MSA.csv',
 '2010.annual 34013 Essex County, New Jersey.csv',
 '2010.annual 34023 Middlesex County, New Jersey.csv',
 '2010.annual 21033 Caldwell County, Kentucky.csv',
 '2010.annual 17193 White County, Illinois.csv',
 '2010.annual 08033 Dolores County, Colorado.csv',
 '2010.annual 31105 Kimball County, Nebraska.csv',
 '2010.annual 29143 New Madrid County, Missouri.csv',
 '2010.annual 29093 Iron County, Missouri.csv',
 '2010.annual 19153 Polk County, Iowa.csv',
 '2010.annual 31131 Otoe County, Nebraska.csv',
 '2010.annual 49049 Utah County, Utah.csv',
 '2010.annual 01027 Clay County, Alabama.csv',
 '2010.annual 29023 Butler County, Missouri.csv',
 '2010.annual 27135 Roseau County, Minnesota.csv',
 '2010.annual 30001 Beaverhead County, Montana.csv',
 '2010.annual CS198 Columbus-Marion-Zanesville, OH CSA.csv',
 '2010.annual C2278 Fort Leonard Wood, MO MicroSA.csv',
 '2010.annual 01075 Lamar County, Alabama.csv',
 '2010.annual 48039 Brazoria County, Texas.csv',
 '2010.annual 40013 Bryan County, Oklahoma.csv',
 '2010.annual C3706 Oxford, MS MicroSA.csv',
 '2010.annual C2078 Edwards, CO MicroSA.csv',
 '2010.annual 32023 Nye County, Nevada.csv',
 '2010.annual 34037 Sussex County, New Jersey.csv',
 '2010.annual 46023 Charles Mix County, South Dakota.csv',
 '2010.annual 13135 Gwinnett County, Georgia.csv',
 '2010.annual 48185 Grimes County, Texas.csv',
 '2010.annual 01029 Cleburne County, Alabama.csv',
 '2010.annual 48447 Throckmorton County, Texas.csv',
 '2010.annual 39015 Brown County, Ohio.csv',
 '2010.annual C3490 Napa, CA MSA.csv',
 '2010.annual 41049 Morrow County, Oregon.csv',
 '2010.annual C1998 Dodge City, KS MicroSA.csv',
 '2010.annual C2146 Enterprise, AL MicroSA.csv',
 '2010.annual C3022 Levelland, TX MicroSA.csv',
 '2010.annual C2682 Idaho Falls, ID MSA.csv',
 '2010.annual 05083 Logan County, Arkansas.csv',
 '2010.annual 29057 Dade County, Missouri.csv',
 '2010.annual 23999 Unknown Or Undefined, Maine.csv',
 '2010.annual 32021 Mineral County, Nevada.csv',
 '2010.annual 48133 Eastland County, Texas.csv',
 '2010.annual 13245 Richmond County, Georgia.csv',
 '2010.annual 27099 Mower County, Minnesota.csv',
 '2010.annual C4602 Truckee-Grass Valley, CA MicroSA.csv',
 '2010.annual 15999 Unknown Or Undefined, Hawaii.csv',
 '2010.annual C2586 Hickory-Lenoir-Morganton, NC MSA.csv',
 '2010.annual 02198 Prince of Wales-Hyder Census Area, Alaska.csv',
 '2010.annual 48421 Sherman County, Texas.csv',
 '2010.annual 19049 Dallas County, Iowa.csv',
 '2010.annual 72029 Canovanas Municipio, Puerto Rico.csv',
 '2010.annual 12007 Bradford County, Florida.csv',
 '2010.annual 48075 Childress County, Texas.csv',
 '2010.annual 45075 Orangeburg County, South Carolina.csv',
 '2010.annual 06025 Imperial County, California.csv',
 '2010.annual CS500 Seattle-Tacoma, WA CSA.csv',
 '2010.annual 48053 Burnet County, Texas.csv',
 '2010.annual 44999 Unknown Or Undefined, Rhode Island.csv',
 '2010.annual 38033 Golden Valley County, North Dakota.csv',
 '2010.annual C1718 City of The Dalles, OR MicroSA.csv',
 '2010.annual 19171 Tama County, Iowa.csv',
 '2010.annual 41007 Clatsop County, Oregon.csv',
 '2010.annual 13145 Harris County, Georgia.csv',
 '2010.annual 37151 Randolph County, North Carolina.csv',
 '2010.annual 01019 Cherokee County, Alabama.csv',
 '2010.annual 34999 Unknown Or Undefined, New Jersey.csv',
 '2010.annual 39075 Holmes County, Ohio.csv',
 '2010.annual C1266 Baraboo, WI MicroSA.csv',
 '2010.annual 06057 Nevada County, California.csv',
 '2010.annual 39089 Licking County, Ohio.csv',
 '2010.annual C1442 Borger, TX MicroSA.csv',
 '2010.annual C2518 Hagerstown-Martinsburg, MD-WV MSA.csv',
 '2010.annual C3650 Olympia-Tumwater, WA MSA.csv',
 '2010.annual 27011 Big Stone County, Minnesota.csv',
 '2010.annual 25023 Plymouth County, Massachusetts.csv',
 '2010.annual CS542 Union City-Martin, TN-KY CSA.csv',
 '2010.annual 18013 Brown County, Indiana.csv',
 '2010.annual C2898 Kodiak, AK MicroSA.csv',
 '2010.annual 13073 Columbia County, Georgia.csv',
 '2010.annual 38000 North Dakota -- Statewide.csv',
 '2010.annual 29135 Moniteau County, Missouri.csv',
 '2010.annual 54073 Pleasants County, West Virginia.csv',
 '2010.annual 25999 Unknown Or Undefined, Massachusetts.csv',
 '2010.annual 22039 Evangeline Parish, Louisiana.csv',
 '2010.annual 17177 Stephenson County, Illinois.csv',
 '2010.annual 36097 Schuyler County, New York.csv',
 '2010.annual 19055 Delaware County, Iowa.csv',
 '2010.annual 22093 St. James Parish, Louisiana.csv',
 '2010.annual CS164 Cape Girardeau-Sikeston, MO-IL CSA.csv',
 '2010.annual 42101 Philadelphia County, Pennsylvania.csv',
 '2010.annual 08043 Fremont County, Colorado.csv',
 '2010.annual 27067 Kandiyohi County, Minnesota.csv',
 '2010.annual 18125 Pike County, Indiana.csv',
 '2010.annual C4830 Wenatchee, WA MSA.csv',
 '2010.annual 22103 St. Tammany Parish, Louisiana.csv',
 '2010.annual 41027 Hood River County, Oregon.csv',
 '2010.annual 18007 Benton County, Indiana.csv',
 '2010.annual 25007 Dukes County, Massachusetts.csv',
 '2010.annual C3774 Payson, AZ MicroSA.csv',
 '2010.annual 48331 Milam County, Texas.csv',
 '2010.annual 37173 Swain County, North Carolina.csv',
 '2010.annual 21177 Muhlenberg County, Kentucky.csv',
 '2010.annual 20071 Greeley County, Kansas.csv',
 '2010.annual 31061 Franklin County, Nebraska.csv',
 '2010.annual 21075 Fulton County, Kentucky.csv',
 '2010.annual 47175 Van Buren County, Tennessee.csv',
 '2010.annual 28143 Tunica County, Mississippi.csv',
 '2010.annual 72041 Cidra Municipio, Puerto Rico.csv',
 '2010.annual 47017 Carroll County, Tennessee.csv',
 '2010.annual 12027 DeSoto County, Florida.csv',
 '2010.annual 12043 Glades County, Florida.csv',
 '2010.annual 29185 St. Clair County, Missouri.csv',
 '2010.annual C3614 Ocean City, NJ MSA.csv',
 '2010.annual 21157 Marshall County, Kentucky.csv',
 '2010.annual C1326 Bedford, IN MicroSA.csv',
 '2010.annual 13001 Appling County, Georgia.csv',
 '2010.annual C3802 Phoenix Lake-Cedar Ridge, CA MicroSA.csv',
 '2010.annual C3114 Louisville-Jefferson County, KY-IN MSA.csv',
 '2010.annual C1170 Asheville, NC MSA.csv',
 '2010.annual 06047 Merced County, California.csv',
 '2010.annual 20075 Hamilton County, Kansas.csv',
 '2010.annual 26093 Livingston County, Michigan.csv',
 '2010.annual 17105 Livingston County, Illinois.csv',
 '2010.annual 26097 Mackinac County, Michigan.csv',
 '2010.annual 48077 Clay County, Texas.csv',
 '2010.annual 48319 Mason County, Texas.csv',
 '2010.annual 72045 Comerio Municipio, Puerto Rico.csv',
 '2010.annual 18179 Wells County, Indiana.csv',
 '2010.annual 31029 Chase County, Nebraska.csv',
 '2010.annual 08105 Rio Grande County, Colorado.csv',
 '2010.annual 48065 Carson County, Texas.csv',
 '2010.annual C1050 Albany, GA MSA.csv',
 '2010.annual C3002 Lawton, OK MSA.csv',
 '2010.annual 20055 Finney County, Kansas.csv',
 '2010.annual 18075 Jay County, Indiana.csv',
 '2010.annual 35013 Dona Ana County, New Mexico.csv',
 '2010.annual C3334 Milwaukee-Waukesha-West Allis, WI MSA.csv',
 '2010.annual 45025 Chesterfield County, South Carolina.csv',
 '2010.annual 37133 Onslow County, North Carolina.csv',
 '2010.annual 36009 Cattaraugus County, New York.csv',
 '2010.annual 18113 Noble County, Indiana.csv',
 '2010.annual C2594 Hilton Head Island-Bluffton-Beaufort, SC MSA.csv',
 '2010.annual 36025 Delaware County, New York.csv',
 '2010.annual 51095 James City County, Virginia.csv',
 '2010.annual C1162 Ardmore, OK MicroSA.csv',
 '2010.annual 05099 Nevada County, Arkansas.csv',
 '2010.annual 27119 Polk County, Minnesota.csv',
 '2010.annual 48269 King County, Texas.csv',
 '2010.annual 40147 Washington County, Oklahoma.csv',
 '2010.annual 28017 Chickasaw County, Mississippi.csv',
 '2010.annual 26087 Lapeer County, Michigan.csv',
 '2010.annual 78030 St. Thomas, Virgin Islands.csv',
 '2010.annual 36039 Greene County, New York.csv',
 '2010.annual C3046 Lexington-Fayette, KY MSA.csv',
 '2010.annual 39109 Miami County, Ohio.csv',
 '2010.annual 34021 Mercer County, New Jersey.csv',
 '2010.annual 55077 Marquette County, Wisconsin.csv',
 '2010.annual CS406 New Orleans-Metairie-Hammond, LA-MS CSA.csv',
 '2010.annual 19187 Webster County, Iowa.csv',
 '2010.annual 04003 Cochise County, Arizona.csv',
 '2010.annual C3306 Miami, OK MicroSA.csv',
 '2010.annual C3094 London, KY MicroSA.csv',
 '2010.annual 18159 Tipton County, Indiana.csv',
 '2010.annual 05097 Montgomery County, Arkansas.csv',
 '2010.annual C3970 Raymondville, TX MicroSA.csv',
 '2010.annual 18149 Starke County, Indiana.csv',
 '2010.annual 51003 Albemarle County, Virginia.csv',
 '2010.annual 27999 Unknown Or Undefined, Minnesota.csv',
 '2010.annual 51840 Winchester City, Virginia.csv',
 '2010.annual 72141 Utuado Municipio, Puerto Rico.csv',
 '2010.annual 32027 Pershing County, Nevada.csv',
 '2010.annual C1966 Deltona-Daytona Beach-Ormond Beach, FL MSA.csv',
 '2010.annual 17083 Jersey County, Illinois.csv',
 '2010.annual 37027 Caldwell County, North Carolina.csv',
 '2010.annual 36007 Broome County, New York.csv',
 '2010.annual 29087 Holt County, Missouri.csv',
 '2010.annual CS508 Shreveport-Bossier City-Minden, LA CSA.csv',
 '2010.annual 19163 Scott County, Iowa.csv',
 '2010.annual 16041 Franklin County, Idaho.csv',
 '2010.annual 46047 Fall River County, South Dakota.csv',
 '2010.annual 41053 Polk County, Oregon.csv',
 '2010.annual 48009 Archer County, Texas.csv',
 '2010.annual 31117 McPherson County, Nebraska.csv',
 '2010.annual 37139 Pasquotank County, North Carolina.csv',
 '2010.annual 17079 Jasper County, Illinois.csv',
 '2010.annual 47189 Wilson County, Tennessee.csv',
 '2010.annual C4478 Sturgis, MI MicroSA.csv',
 '2010.annual C1618 Carson City, NV MSA.csv',
 '2010.annual C1434 Boone, IA MicroSA.csv',
 '2010.annual 17151 Pope County, Illinois.csv',
 '2010.annual 20011 Bourbon County, Kansas.csv',
 '2010.annual C3430 Mountain Home, ID MicroSA.csv',
 '2010.annual C4398 Spencer, IA MicroSA.csv',
 '2010.annual 39057 Greene County, Ohio.csv',
 '2010.annual C2334 Fremont, NE MicroSA.csv',
 '2010.annual 31101 Keith County, Nebraska.csv',
 '2010.annual 08021 Conejos County, Colorado.csv',
 '2010.annual 29127 Marion County, Missouri.csv',
 '2010.annual 02130 Ketchikan Gateway Borough, Alaska.csv',
 '2010.annual 13179 Liberty County, Georgia.csv',
 '2010.annual C3694 Owatonna, MN MicroSA.csv',
 '2010.annual 17123 Marshall County, Illinois.csv',
 '2010.annual 13067 Cobb County, Georgia.csv',
 '2010.annual 16000 Idaho -- Statewide.csv',
 '2010.annual 41043 Linn County, Oregon.csv',
 '2010.annual C3182 Manitowoc, WI MicroSA.csv',
 '2010.annual 31083 Harlan County, Nebraska.csv',
 '2010.annual 51073 Gloucester County, Virginia.csv',
 '2010.annual C3486 Nacogdoches, TX MicroSA.csv',
 '2010.annual 18077 Jefferson County, Indiana.csv',
 '2010.annual 20041 Dickinson County, Kansas.csv',
 '2010.annual 13105 Elbert County, Georgia.csv',
 '2010.annual C1126 Anchorage, AK MSA.csv',
 '2010.annual 48103 Crane County, Texas.csv',
 '2010.annual 27107 Norman County, Minnesota.csv',
 '2010.annual C4698 Vicksburg, MS MicroSA.csv',
 '2010.annual 12103 Pinellas County, Florida.csv',
 '2010.annual 30043 Jefferson County, Montana.csv',
 '2010.annual 30031 Gallatin County, Montana.csv',
 '2010.annual 48117 Deaf Smith County, Texas.csv',
 '2010.annual C1118 Ames, IA MSA.csv',
 '2010.annual C4518 Talladega-Sylacauga, AL MicroSA.csv',
 '2010.annual 16087 Washington County, Idaho.csv',
 '2010.annual 30045 Judith Basin County, Montana.csv',
 '2010.annual 27087 Mahnomen County, Minnesota.csv',
 '2010.annual 13285 Troup County, Georgia.csv',
 '2010.annual 46019 Butte County, South Dakota.csv',
 '2010.annual 55075 Marinette County, Wisconsin.csv',
 '2010.annual 39155 Trumbull County, Ohio.csv',
 '2010.annual 05095 Monroe County, Arkansas.csv',
 '2010.annual 04000 Arizona -- Statewide.csv',
 '2010.annual C2122 Elko, NV MicroSA.csv',
 '2010.annual 12111 St. Lucie County, Florida.csv',
 '2010.annual 29141 Morgan County, Missouri.csv',
 '2010.annual 51093 Isle of Wight County, Virginia.csv',
 '2010.annual 08085 Montrose County, Colorado.csv',
 '2010.annual 27065 Kanabec County, Minnesota.csv',
 '2010.annual 22075 Plaquemines Parish, Louisiana.csv',
 '2010.annual 31155 Saunders County, Nebraska.csv',
 '2010.annual CS148 Boston-Worcester-Providence, MA-RI-NH-CT CSA.csv',
 '2010.annual 55125 Vilas County, Wisconsin.csv',
 '2010.annual 31185 York County, Nebraska.csv',
 '2010.annual 28025 Clay County, Mississippi.csv',
 '2010.annual 39035 Cuyahoga County, Ohio.csv',
 '2010.annual C2202 Fargo, ND-MN MSA.csv',
 '2010.annual 48067 Cass County, Texas.csv',
 '2010.annual 39031 Coshocton County, Ohio.csv',
 '2010.annual 45051 Horry County, South Carolina.csv',
 '2010.annual 54077 Preston County, West Virginia.csv',
 '2010.annual 08077 Mesa County, Colorado.csv',
 '2010.annual 19113 Linn County, Iowa.csv',
 '2010.annual 72139 Trujillo Alto Municipio, Puerto Rico.csv',
 '2010.annual 31145 Red Willow County, Nebraska.csv',
 '2010.annual 13251 Screven County, Georgia.csv',
 '2010.annual C3034 Lewiston-Auburn, ME MSA.csv',
 '2010.annual 12045 Gulf County, Florida.csv',
 '2010.annual 51001 Accomack County, Virginia.csv',
 '2010.annual 39165 Warren County, Ohio.csv',
 '2010.annual C1750 Clewiston, FL MicroSA.csv',
 '2010.annual 20037 Crawford County, Kansas.csv',
 '2010.annual C4882 Willmar, MN MicroSA.csv',
 '2010.annual 16055 Kootenai County, Idaho.csv',
 '2010.annual 08095 Phillips County, Colorado.csv',
 '2010.annual 08083 Montezuma County, Colorado.csv',
 '2010.annual C3698 Owensboro, KY MSA.csv',
 '2010.annual 12057 Hillsborough County, Florida.csv',
 '2010.annual 34005 Burlington County, New Jersey.csv',
 '2010.annual 25005 Bristol County, Massachusetts.csv',
 '2010.annual 31039 Cuming County, Nebraska.csv',
 '2010.annual CS554 Wausau-Stevens Point-Wisconsin Rapids, WI CSA.csv',
 '2010.annual 13045 Carroll County, Georgia.csv',
 '2010.annual 53039 Klickitat County, Washington.csv',
 '2010.annual 01037 Coosa County, Alabama.csv',
 '2010.annual 37141 Pender County, North Carolina.csv',
 '2010.annual 32005 Douglas County, Nevada.csv',
 '2010.annual 40081 Lincoln County, Oklahoma.csv',
 '2010.annual 21089 Greenup County, Kentucky.csv',
 '2010.annual 56003 Big Horn County, Wyoming.csv',
 '2010.annual 29063 DeKalb County, Missouri.csv',
 '2010.annual 13301 Warren County, Georgia.csv',
 '2010.annual 05037 Cross County, Arkansas.csv',
 '2010.annual C4738 Waco, TX MSA.csv',
 '2010.annual 12051 Hendry County, Florida.csv',
 '2010.annual 55005 Barron County, Wisconsin.csv',
 '2010.annual 39025 Clermont County, Ohio.csv',
 '2010.annual 55051 Iron County, Wisconsin.csv',
 '2010.annual 47051 Franklin County, Tennessee.csv',
 '2010.annual 30055 McCone County, Montana.csv',
 '2010.annual 40009 Beckham County, Oklahoma.csv',
 '2010.annual 18027 Daviess County, Indiana.csv',
 '2010.annual 31069 Garden County, Nebraska.csv',
 '2010.annual 06019 Fresno County, California.csv',
 '2010.annual 48277 Lamar County, Texas.csv',
 '2010.annual 24017 Charles County, Maryland.csv',
 '2010.annual C3298 Merrill, WI MicroSA.csv',
 '2010.annual 26057 Gratiot County, Michigan.csv',
 '2010.annual 42035 Clinton County, Pennsylvania.csv',
 '2010.annual 38999 Unknown Or Undefined, North Dakota.csv',
 '2010.annual C3610 Ocala, FL MSA.csv',
 '2010.annual C4934 Worcester, MA-CT MSA.csv',
 '2010.annual 37039 Cherokee County, North Carolina.csv',
 '2010.annual C1810 Columbus, NE MicroSA.csv',
 '2010.annual 40011 Blaine County, Oklahoma.csv',
 '2010.annual 48129 Donley County, Texas.csv',

In [22]:
# creating a list of the selected files for data to be obtained from
# these are only the counties that we are interested in

Co_files10 = []

for filename in filesList2:
    for i in STCO:
        if i in filename:
            Co_files10.append(filename)
            
len(Co_files10)

274

In [23]:
JobsCO10 = {}

for i in Co_files10:
    row = csvRows(mypath2 + i)
    # append the data to the empty dict; STCO as key and total_emp as value 
    JobsCO10[row[0]] = row[1]


# making it a DataFrame
JobsCO10 = pd.DataFrame.from_dict(JobsCO10, orient='index', columns=['Total_emp10'])
JobsCO10 = JobsCO10.sort_index()

print(JobsCO10.shape)
print(type(JobsCO10))
print(JobsCO10.dtypes)
JobsCO10.head()

(274, 1)
<class 'pandas.core.frame.DataFrame'>
Total_emp10    object
dtype: object

      Total_emp10
06001      630343
06013      313615
06037     3856789
06041      102062
06055       64073

### Merge 2010 w 2017 data

In [24]:
JobsCO10 = JobsCO10.merge(JobsCO17, left_index=True,
                                 right_index=True)

JobsCO10['Total_emp17'] = JobsCO10['Total_emp17'].fillna(0).astype(int)
JobsCO10['Total_emp10'] = JobsCO10['Total_emp10'].fillna(0).astype(int)


print(JobsCO10.dtypes)
print(JobsCO10.shape)
JobsCO10.head()

Total_emp10    int64
Total_emp17    int64
dtype: object
(274, 2)

       Total_emp10  Total_emp17
06001       630343       771652
06013       313615       366720
06037      3856789      4381836
06041       102062       115432
06055        64073        76762

### Merging with geo-coded data in order to groupby CSA's

In [25]:
JobsCO_CSA10 = JobsCO10.merge(geo, left_index=True, 
                              right_on='STCO').set_index('County_name')

print(JobsCO_CSA10.shape)
JobsCO_CSA10.tail(2)

(274, 5)

             Total_emp10  Total_emp17  CSA                     CSA_name   STCO
County_name
Pierce              9508        10026  378  Minneapolis-St. Paul, MN-WI  55093
St. Croix          27950        33521  378  Minneapolis-St. Paul, MN-WI  55109

In [26]:
JobsCSA10_17 = JobsCO_CSA10.groupby(['CSA', 'CSA_name']).sum()

JobsCSA10_17['emp_NET00-17'] = JobsCSA10_17['Total_emp17'] - JobsCSA10_17['Total_emp10']
JobsCSA10_17['emp_%00-17'] = (JobsCSA10_17['Total_emp17'] - JobsCSA10_17['Total_emp10']) \
                                                          / JobsCSA10_17['Total_emp10']

print(JobsCSA10_17.shape)
JobsCSA10_17

(15, 4)

,,Total_emp10,Total_emp17,emp_NET00-17,emp_%00-17
CSA,CSA_name,,,,
122,"Atlanta--Athens-Clarke County--Sandy Springs, GA",2372462,2844774,472312,0.199081
148,"Boston-Worcester-Providence, MA-RI-NH-CT",3691234,4121641,430407,0.116602
176,"Chicago-Naperville, IL-IN-WI",4192303,4631371,439068,0.104732
206,"Dallas-Fort Worth, TX-OK",2944870,3586036,641166,0.217723
216,"Denver-Aurora, CO",1405857,1730344,324487,0.230811
220,"Detroit-Warren-Ann Arbor, MI",2022604,2312726,290122,0.143440
288,"Houston-The Woodlands, TX",2541934,2969515,427581,0.168211
348,"Los Angeles-Long Beach, CA",6655146,7741633,1086487,0.163255
370,"Miami-Fort Lauderdale-Port St. Lucie, FL",2286983,2720909,433926,0.189737
378,"Minneapolis-St. Paul, MN-WI",1823091,2063304,240213,0.131761
408,"New York-Newark, NY-NJ-CT-PA",9347507,10423589,1076082,0.115120
428,"Philadelphia-Reading-Camden, PA-NJ-DE-MD",3020134,3219771,199637,0.066102
488,"San Jose-San Francisco-Oakland, CA",3421777,4232644,810867,0.236972
500,"Seattle-Tacoma, WA",1891548,2249890,358342,0.189444
548,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",4347320,4731197,383877,0.088302

In [27]:
JobsCSA10_17.to_csv('exports/Jobs10-17CSA_NEW.csv')

--- 
# Housing / Jobs Balance analysis


## _All the Housing / Jobs Balance analysis can be found in a separated notebook in this repo: 6-Pop-Hou-Jobs-balance_

- PEP/2017/housing
- BLS QCEW 2017 annually

# 1. Counties - for mapping

## Total Housing from PEP housing 2017

- Detailing on Population and Housing Estimates APIs: https://www.census.gov/data/developers/data-sets/popest-popproj/popest.2000-2010_Intercensals.html

- [examples for /data/2017/pep/housing](https://api.census.gov/data/2017/pep/housing/examples.html)

In [33]:
# HU2017 data for all counties in the US
totalHU17 = pd.read_json('https://api.census.gov/data/2017/pep/housing?get='+
                         'HUEST,GEONAME&for=county:*&DATE=10')

totalHU17.columns = totalHU17.iloc[0]
totalHU17 = totalHU17[1:]

totalHU17['state'] = totalHU17['state'].apply(lambda x: '{0:0>2}'.format(x))
totalHU17['county'] = totalHU17['county'].apply(lambda x: '{0:0>3}'.format(x))
totalHU17['STCO'] = totalHU17[['state', 'county']].apply(lambda x: ''.join(x), axis=1)

totalHU17 = totalHU17.drop(['state', 'county','DATE'], axis=1)
totalHU17.columns = ['TotalHousing17','Name', 'STCO']

print(totalHU17.shape)
totalHU17.head(20)

(3142, 3)

   TotalHousing17                            Name   STCO
1          372981   Fairfield County, Connecticut  09001
2          379719    Hartford County, Connecticut  09003
3           88285  Litchfield County, Connecticut  09005
4           76339   Middlesex County, Connecticut  09007
5          367195   New Haven County, Connecticut  09009
6          123398  New London County, Connecticut  09011
7           59729     Tolland County, Connecticut  09013
8           49742     Windham County, Connecticut  09015
9           49825      Androscoggin County, Maine  23001
10          39911         Aroostook County, Maine  23003
11         144433        Cumberland County, Maine  23005
12          22183          Franklin County, Maine  23007
13          41263           Hancock County, Maine  23009
14          62664          Kennebec County, Maine  23011
15          24408              Knox County, Maine  23013
16          23979           Lincoln County, Maine  23015
17          36958            Oxford County, Maine  23017
18          75853         Penobscot County, Maine  23019
19          15473       Piscataquis County, Maine  23021
20          18825         Sagadahoc County, Maine  23023

## Total Housing 2010 PEP 2010 -- Not in use 

This data set is called "int_housingunits 2000" and it includes both 2000 and 2010 Census Decennials data.

- API Call: api.census.gov/data/2000/pep/int_housingunits
- [examples](https://api.census.gov/data/2000/pep/int_housingunits.html)
- [variables](https://api.census.gov/data/2000/pep/int_housingunits/variables.html) in /data/2000/pep/int_housingunits/variables

In [34]:
# HU2010 data for all counties in the US, from PEP housing 2000-2010
totalHU10 = pd.read_json('https://api.census.gov/data/2000/pep/int_housingunits?get='+
                         'HUEST,GEONAME&for=county:*&DATE=10')

totalHU10.columns = totalHU10.iloc[0]
totalHU10 = totalHU10[1:]

totalHU10['state'] = totalHU10['state'].apply(lambda x: '{0:0>2}'.format(x))
totalHU10['county'] = totalHU10['county'].apply(lambda x: '{0:0>3}'.format(x))
totalHU10['STCO'] = totalHU10[['state', 'county']].apply(lambda x: ''.join(x), axis=1)

totalHU10 = totalHU10.drop(['state', 'county', 'DATE'], axis=1)
totalHU10.columns = ['TotalHousing10','Name', 'STCO']

print(totalHU10.shape)
totalHU10.head()

(3143, 3)

  TotalHousing10                            Name   STCO
1         358484   Fairfield County, Connecticut  09001
2         372325    Hartford County, Connecticut  09003
3          86754  Litchfield County, Connecticut  09005
4          74172   Middlesex County, Connecticut  09007
5         359866   New Haven County, Connecticut  09009

## Total Pop + Total Housing 2010 from US Census Bureau Decennial Census 2010

In [35]:
# total HU for all counties in the US, 2010
totalHU10_sf = pd.read_json('https://api.census.gov/data/2010/sf1?get='+
                            'P0010001,H00010001,NAME&for=county:*')
totalHU10_sf.columns = totalHU10_sf.iloc[0]
totalHU10_sf = totalHU10_sf[1:]

totalHU10_sf['state'] = totalHU10_sf['state'].apply(lambda x: '{0:0>2}'.format(x))
totalHU10_sf['county'] = totalHU10_sf['county'].apply(lambda x: '{0:0>3}'.format(x))
totalHU10_sf['STCO'] = totalHU10_sf[['state', 'county']].apply(lambda x: ''.join(x), axis=1)

totalHU10_sf = totalHU10_sf.drop(['state', 'county'], axis=1)
totalHU10_sf.columns = ['TotalPop00','TotalHousing00','Name', 'STCO']

print(totalHU10_sf.shape)
totalHU10_sf.head()

(3221, 4)

  TotalPop00 TotalHousing00            Name   STCO
1      54571          22135  Autauga County  01001
2     182265         104061  Baldwin County  01003
3      27457          11829  Barbour County  01005
4      22915           8981     Bibb County  01007
5      57322          23887   Blount County  01009

## Total Pop + Total Housing 2000 from US Census Bureau Decennial Census 2000

In [36]:
# total HU for all counties in the US, 2000
totalHU00 = pd.read_json('https://api.census.gov/data/2000/sf1?get='+
                         'P001001,H001001,NAME&for=county:*')
totalHU00.columns = totalHU00.iloc[0]
totalHU00 = totalHU00[1:]

totalHU00['state'] = totalHU00['state'].apply(lambda x: '{0:0>2}'.format(x))
totalHU00['county'] = totalHU00['county'].apply(lambda x: '{0:0>3}'.format(x))
totalHU00['STCO'] = totalHU00[['state', 'county']].apply(lambda x: ''.join(x), axis=1)

totalHU00 = totalHU00.drop(['state', 'county'], axis=1)
totalHU00.columns = ['TotalPop00','TotalHousing00','Name', 'STCO']

print(totalHU00.shape)
totalHU00.head()

(3141, 4)

  TotalPop00 TotalHousing00            Name   STCO
1      43671          17662  Autauga County  01001
2     140415          74285  Baldwin County  01003
3      29038          12461  Barbour County  01005
4      20826           8345     Bibb County  01007
5      51024          21158   Blount County  01009

------

## CSA's

In [37]:
HouJobs = pd.read_excel('BPS_HousingPermits_analysis.xlsx', 
                        sheet_name='HousingJobs_Balance')[:-2].set_index('Name')

HouJobs['housing / jobs 2010'] = HouJobs['housing / jobs 2010'].round(decimals=2)
HouJobs['housing / jobs 2016'] = HouJobs['housing / jobs 2016'].round(decimals=2)
HouJobs['housing / jobs 10-16 NET'] = HouJobs['housing / jobs 10-16 NET'].round(decimals=2)

HouJobs['CSA'] = HouJobs['CSA'].astype(int)

print(HouJobs .shape)
HouJobs

(15, 5)

,CSA,FullName,housing / jobs 2010,housing / jobs 2016,housing / jobs 10-16 NET
Name,,,,,
New York,408,"New York-Newark, NY-NJ-CT-PA",0.92,0.84,-0.07
Los Angeles,348,"Los Angeles-Long Beach, CA",0.68,0.60,-0.08
Chicago,176,"Chicago-Naperville, IL-IN-WI",0.42,0.39,-0.03
Washington,548,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",0.84,0.80,-0.04
San Francisco,488,"San Jose-San Francisco-Oakland, CA",0.92,0.77,-0.14
Boston,148,"Boston-Worcester-Providence, MA-RI-NH-CT",0.92,0.84,-0.08
Dallas,206,"Dallas-Fort Worth, TX-OK",0.92,0.81,-0.11
Philadelphia,428,"Philadelphia-Reading-Camden, PA-NJ-DE-MD",0.97,0.93,-0.04
Houston,288,"Houston-The Woodlands, TX",0.94,0.86,-0.08
Miami,370,"Miami-Fort Lauderdale-Port St. Lucie, FL",1.21,1.05,-0.16
Atlanta,122,"Atlanta--Athens-Clarke County--Sandy Springs, GA",1.02,0.90,-0.13
Detroit,220,"Detroit-Warren-Ann Arbor, MI",1.15,1.02,-0.13
Seattle,500,"Seattle-Tacoma, WA",0.97,0.86,-0.11
Minneapolis,378,"Minneapolis-St. Paul, MN-WI",0.84,0.77,-0.07
Denver,216,"Denver-Aurora, CO",0.93,0.80,-0.13